@charset "utf-8";

@mixin break($break:768) {
	@media screen and (max-width: $break + px) {
	 @content;
	}
   }
   @mixin breakMini($break:680) {
	@media screen and (max-width: $break + px) {
	 @content;
	}
   }
   @mixin break2($break:768) {
	@media screen and (min-width: $break + px) {
	 @content;
	}
   }
   
   @mixin break3($break1, $break2) {
	@media screen and (min-width: $break1 + px) and ( max-width: $break2 + px) {
	 @content;
	}
   }

   @mixin flex {
	-js-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
   }
   
   @mixin ai($ai:center) {
	-webkit-align-items: $ai;
	align-items: -webkit-$ai;
	align-items: $ai;
   }
   
   @mixin jc($jc:flex-start) {
	-webkit-justify-content: $jc;
	justify-content: -webkit-$jc;
	justify-content: $jc;
   }
   
   @mixin fw($fw:wrap) {
	-webkit-flex-wrap: $fw;
	flex-wrap: $fw;
   }
   
   @mixin fb($fb) {
	-webkit-flex-basis: $fb;
	flex-basis: $fb;
   }
   @mixin transition($func1:all, $func2:0.3s) {
	-moz-transition: ($func1 $func2);
	-webkit-transition: ($func1 $func2);
	-o-transition: ($func1 $func2);
	-ms-transition: ($func1 $func2);
	transition: ($func1 $func2);
   }
   





.tab_box {
	font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;
	font-size: 16px;
    //width: 100%;
	@include break {
		font-size: 14px;
	}
	* {
		box-sizing: border-box; 
	}
      
}

.ov {
	@include transition;
	&:hover {
		opacity: .8;
	}
}

.pc {
	@include break {display:block;
		display: none;
	}
}
.spB {display: none;

	@include break {display:block;}
		
}



$color-green: #46c1be;
$color-red: #e40037;
.tab_box {
	width: 100%;
	margin: 0;
	@include break {
		margin: 0 auto;
	}

	.tab-wrap {
		margin: 0 auto;
	  }
	  
	  .tab-menu {
		display: flex;
		@include break {flex-wrap: wrap;margin: 0 auto;padding-bottom:10px; width: 100%;max-width: 480px;justify-content: space-between ;}
	  }
	  
	  .tab {
		width: 23%;
		padding: 0.5rem;
		text-align: center;
		cursor: pointer;
		transition: all 0.3s;
		background-color: #ddd;
		border-radius: 10px 10px 0 0;
		border: 1px solid #424242; 
		border-width: 1px 1px 0 1px;
		font-size:clamp(14px, 1.2vw, 16px);
		@include break {
			width: 49%;border-width: 1px;
			border-radius: 5px;
			margin-bottom: 3px;
			font-size:clamp(12px, 1.5vw, 14px);}
			/*&:nth-of-type(2n){
				@include break {margin-left: 3px;}
			  }*/
	  }
	  
	  
	  .tab.active {
		color: #ffffff;
		font-weight: bold;
		background: #424242;
	  }
	  
	  .tab-contents {
		display: none;
		padding: 25px;
		background: #424242;
		@include break {padding: 0;background: #fff;
		}

		
	  }
	  
	  .tab-contents.active{
		display: block;
	  }
	  
	  .tab-contents p {
		padding: 1rem 2rem;
	  }
  
    
}//_tab_box
.brabd-list{width: 100%;
	.each-brand{
		width: 1400px;
		max-width: 100%;
		padding: 0 25px;
		margin: 5px auto 5px auto;
		padding-bottom: 0px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		@include break {flex-wrap: wrap;}
		li{width: 19.5%;
			display: flex;
			align-items: stretch;@include break {width: 49%;}
			a{
			display: inline-block;
			padding: 16px 14px;
			background: #ebebeb;
			margin-bottom: 5px;&:hover{opacity: 0.8;}
			
			h2{text-align: center;font-size:clamp(15px, 1.5vw, 20px);margin:8px auto 2px auto;
				@include break {font-size:clamp(12px, 1.5vw, 18px);}
				span{display: block;font-size:clamp(14px, 1.2vw, 16px);
					@include break {font-size:clamp(10px, 1.1vw, 15px);}
				}//span
			}
			.bra-txt{font-size:clamp(11px, 0.8vw, 14px);}
			.searchbranch{
				width: 100%;
				.link{padding:5px;width:90%;margin: 5px auto;
					display: block;
					text-align: center;background: #333;
					color: #fff;
					border-radius: 9999px;
					font-size:clamp(10px, 0.8vw, 16px);
				&:hover{
					background: #e30613;
				}}
			}
		}//a
		}//li
		}//each-brand
}//brabd-list



.cnt03{
    width: 100%;
    color: #000;
	@include break(960) {
		padding: 0 25px;}
    .brandSec{
                width: 100%;
				max-width: 1200px;
                margin: 0px auto 50px;
                padding: 20px 0 10px;
                @include break {
                    margin: 30px auto 5px;
                    padding: 15px 0 10px;
                    width: 100%;
                    
                }

				.brabd-ttl-wrap{display: flex;
				width: 100%;
				max-width: 1200px;
				margin: 20px auto 20px;
				@include break(960){
					flex-direction: column;
				}
				.brabd-ttl{/*width: 11.875rem;*/
				width: auto;
				max-width: 100%;
				margin-right: 2rem;
				@include break(960){
					margin-right: 0;
				}}

				.brabd-txt{width: 100%;
					max-width: 100%;
					font-size: 1rem;
					line-height: 1.75;
					letter-spacing: 0;
					@include break(960){
						margin-top: 0.625rem;
    font-size: 0.875rem;
					}}
				}

                a.serviceLink{
                    color: #000 !important;
                    display: block;
                    
                 }
                    .cntWrap {
                        @include flex;
                        @include jc(space-between);
                        @include ai(flex-start);
						@include fw(wrap);
                        align-items:stretch;
						@include break(960){ display: block;}
						li{
							padding: 30px 20px;
						border:#0e0e0e 7px solid;
						background: #ebebeb;
                        flex-basis: 50%;
						margin: 0px;
						@include fw(wrap);
						@include break(960){
							width: 100%;margin: 0 0 0px;padding: 20px 20px;}
						&.spaces{border-color:#e7b920;}
						&.regus{border-color:#dd1c37;}
						&.opo{border-color:#0097d5;}
							a{&:hover{opacity: 0.5 !important;
							text-decoration: none !important;}
							display: flex;

                        .left {
							align-items: center;
                            width: 40%;flex-grow: 1;
                            @include break {
                                width: 100%;
                                margin:0 auto 8px;
                            }
                            h3 {
                                @include flex;
                                @include jc(flex-start);
                                @include ai(center);
                                margin-bottom: 15px;
								@include break {margin-bottom: 8px;}
								span{
                                @include break {font-size: 0.8rem;}
							}
                                img {
								&.signature{width: 25%;@include break {width: 25%;}}
								&.spaces{width: 26%;@include break {}}
								&.regus{width: 20%;@include break {}}
								&.opo{width: 32%;@include break {}}
                                    margin-right: 20px;
                                    @include break {margin-right: 10px;}
                                    
                                    
                                }
                            }
                            p {
								font-size: 0.8rem;
                                text-align: left; @include break {font-size: 0.7rem;}
                            }
                        }
                        .right {
                           max-width: 200px;
					       width: 25%;
						   padding-right: 12px;;
                            @include break {
                                max-width: 110px;
                                width: 100%;
                            }
                        }
					}//a
					}//li
                    }
           
        }//brandSec
}



//---↓↓↓以下から変更箇所（20250131）↓↓↓----------------------------

.plan {
	margin-top: 1rem;
	.inner {
	  width: 1400px;
	  max-width: 100%;
	  padding-left: 25px;
	  padding-right: 25px;
	  margin-right: auto;
	  margin-left: auto;
	}
  

	.reason__ttl-wrap{
		margin: 50px auto 15px;
	}

	.reason-block {
	  display: flex;
	  width: 100%;
	  height: 474px;
	  align-items: center;
	  margin-bottom: 2px;
	  background-color: #333;
	  box-sizing: border-box;
	  height: auto;
	  @media (max-width: 1060px){
		flex-direction: column-reverse;
		height: auto;
	  }
	}
  
	
	.reason-text {
	//   display: flex;
	  flex: 5.2;
	  height: 100%;
	  color: #fff;
	  padding: 1rem 3%;
	  position: relative;
	  box-sizing: border-box;
	  @media (max-width: 768px){
		width: 100%;
		padding: 1rem 3%;
		// display: block;
	  }
	  .explanation{
		display: flex;
		.reason-number {
			height: 100%;
			align-items: center;
			text-align: center;
			display: inline-block;
			font-size: 20px;
			font-weight: 500;
			color: #fff;
			background-color: #fff;
			color: #333;
			padding: 0 1rem 0.2rem;
			margin: 7px 15px 1rem 0;
			@media (max-width: 768px){
				font-size: 18px;
				padding: 0 0 0.2rem;
				min-width: 65px;
			}
		  }
		  .reason-title {
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 1rem;
			@media (max-width: 768px){
				font-size: 20px;
			}
		  }
	  }
	  
	  .reason-description {
		font-size: 1rem;
		margin-bottom: 1.5rem;
		line-height: 1.6;
		@media (max-width: 768px){
			font-size: 14px;
		}
	  }
	  .txt-reason__btn-wrap {
		margin-top: 1.5rem;
		.btn--reason {
		  width: 10.8rem;
		  padding: 0.25rem 0;
		  background-color: transparent;
		  font-size: 0.875rem;
		  border: 1px solid #FFF;
		  color: #fff;
		  @media (max-width: 768px){
			font-size: 14px;
		}
		}
		.btn--icon-txt-reason {
		  ::after {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -1.5rem;
			content: "";
			width: 0.9375rem;
			height: 0.6875rem;
			background: url(/common3/images/arrow.png) center center / contain no-repeat;
		  }
		}
	  }
	}
  
	.reason-image {
	  flex: 4.8;
	  height: 100%;
	  @media (max-width: 768px){
		width: 100%;
	  }
	  
	  .reason-image-area{
		display: flex;
		:hover{ 
			opacity:0.8;
			transition:0.5s;
		}
		.reason-image-contents{
			position: relative;
		   img {
		   width: 100%;
		   display: block;
	  	   }
		   p{
				position: absolute;
				text-align: center;
				top:82%;
				left:50%;
				width: 100%;
				transform: translate(-50%,-50%);
				padding:0;
				margin:0;
				font-size:13px;
				color: #fff;
				@media (max-width: 768px){
					font-size: 12px;
					line-height: 1.2em;
					
				  }
			}
		}
	  }
	}
  }
//---↑↑↑以上まで変更箇所（20250131）↑↑↑----------------------------