@charset "UTF-8";
.main_contents {
  font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .main_contents {
    font-size: 14px;
  }
}
.main_contents * {
  box-sizing: border-box;
}

.ov {
  transition: all 0.3s;
}
.ov:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

h2 {
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  h2 {
    margin-bottom: 8px;
    font-size: 22px !important;
  }
}
h2 span {
  display: block;
  font-size: 24px;
  font-weight: inherit;
}
@media screen and (max-width: 768px) {
  h2 span {
    font-size: 16px;
    line-height: 1.2;
  }
}

p {
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  p {
    line-height: 1.5;
  }
}

.btn {
  width: 100%;
  text-align: center;
}

.cntWrap {
  -js-display: flex;
  display: flex;
  justify-content: -webkit- space-between;
  justify-content: space-between;
  align-items: -webkit- flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cntWrap .cntBox img {
  margin-bottom: 8px;
}
.cntWrap .cntBox p {
  line-height: 1.4;
}

.mv {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto 90px;
  background: url(../img/membership/mv.jpg) no-repeat center center/cover;
  position: relative;
}
@media screen and (max-width: 768px) {
  .mv {
    margin: 5% auto 48px;
  }
}
.mv:after {
  content: "";
  display: block;
  padding-top: 34%;
}
@media screen and (max-width: 768px) {
  .mv:after {
    padding-top: 50%;
  }
}
.mv h1 {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
@media screen and (max-width: 768px) {
  .mv h1 {
    font-size: 18px;
    line-height: 1.3;
    bottom: 8px;
    left: 8px;
  }
}

section {
  max-width: 998px;
  width: 94%;
  margin: 0 auto 100px;
}
@media screen and (max-width: 768px) {
  section {
    margin: 0 auto 30px;
  }
}
section.sec01 > p {
  max-width: 560px;
  width: 92%;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  section.sec01 > p {
    margin-bottom: 16px;
  }
}
section.sec01 .btn {
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  section.sec01 .btn {
    margin-bottom: 54px;
  }
}
section.sec01 .who {
  margin: 70px auto 0 auto;
  width: 998px;
}
@media screen and (max-width: 768px) {
  section.sec01 .who {
    width: 90%;
    margin: 30px auto 30px auto;
  }
}
section.sec01 .who h3 {
  text-align: center;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  section.sec01 .who h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
section.sec01 .who h3::after {
  content: "";
  display: block;
  width: 104px;
  height: 1px;
  background: #6d583a;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 52px);
}
section.sec01 .who .cntBox {
  width: 24.3%;
  margin-bottom: 26px;
  text-align: center;
  /*background: #f5f5f2;*/
  padding: 35px 5px;
}
@media screen and (max-width: 768px) {
  section.sec01 .who .cntBox {
    width: 48%;
    padding: 20px 5px;
    margin-bottom: 10px;
    /*&:not(:nth-last-of-type(1)) {
    	margin-bottom: 28px;
    }*/
  }
}
@media screen and (max-width: 768px) {
  section.sec01 .who .cntBox img {
    width: 70%;
  }
}
section.sec01 .who .cntBox > p {
  margin-top: 10px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  section.sec01 .who .cntBox > p {
    margin-top: 0px;
  }
}
section.sec01 .mgSSS {
  margin: 60px auto 0px auto;
  width: 740px;
}
@media screen and (max-width: 768px) {
  section.sec01 .mgSSS {
    width: 90%;
    margin: 30px auto 30px auto;
  }
}
section.sec01 .mgSSS h3 {
  text-align: center;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  section.sec01 .mgSSS h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
section.sec01 .mgSSS h3::after {
  content: "";
  display: block;
  width: 104px;
  height: 1px;
  background: #6d583a;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 52px);
}
section.sec01 .mgSSS .cntBox {
  width: 32.5%;
  margin-bottom: 0px;
  text-align: center;
  /*background: #f5f5f2;*/
  padding: 35px 5px;
}
@media screen and (max-width: 768px) {
  section.sec01 .mgSSS .cntBox {
    width: 48%;
    padding: 20px 5px;
    margin-bottom: 10px;
    /*&:not(:nth-last-of-type(1)) {
    	margin-bottom: 28px;
    }*/
  }
}
@media screen and (max-width: 768px) {
  section.sec01 .mgSSS .cntBox img {
    width: 70%;
  }
}
section.sec01 .mgSSS .cntBox > p {
  margin-top: 10px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  section.sec01 .mgSSS .cntBox > p {
    margin-top: 0px;
  }
}
section.secLevel > p {
  max-width: 560px;
  width: 92%;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  section.secLevel > p {
    margin-bottom: 16px;
  }
}
section.secLevel h2 {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  section.secLevel h2 {
    margin-bottom: 20px;
  }
}
section.secLevel h3 {
  text-align: center;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  section.secLevel h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
section.secLevel h3::after {
  content: "";
  display: block;
  width: 104px;
  height: 1px;
  background: #6d583a;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 52px);
}
section.secLevel .cntWrap {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  section.secLevel .cntWrap {
    margin-bottom: 0;
  }
}
section.secLevel .cntWrap .cntBox {
  width: 30%;
  margin-bottom: 26px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  section.secLevel .cntWrap .cntBox {
    width: 48%;
    margin-bottom: 10px;
  }
}
section.secLevel .cntWrap .cntBox h3 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  section.secLevel .cntWrap .cntBox h3 {
    margin: 4px 0 8px;
  }
}
section.secLevel .cntWrap .cntBox p {
  font-weight: bold;
  font-size: 110%;
}
@media screen and (max-width: 768px) {
  section.secLevel .cntWrap .cntBox p {
    text-align: left;
  }
}
section.secLevel .cntWrap .cntBox p span {
  display: block;
  font-size: 88%;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  section.secLevel .cntWrap .cntBox p span {
    text-align: left;
  }
}
section.secLevel table {
  max-width: 1000px;
  margin: 0 auto 70px auto;
  border: solid 1px #bbbbbb;
}
@media screen and (max-width: 768px) {
  section.secLevel table {
    margin: 0 auto 30px auto;
  }
}
section.secLevel table tr {
  border-bottom: solid 1px #bbbbbb;
}
section.secLevel table tr th, section.secLevel table tr td {
  padding: 15px 10px;
}
@media screen and (max-width: 768px) {
  section.secLevel table tr th, section.secLevel table tr td {
    width: 41%;
    padding: 2.5%;
    font-size: 63%;
  }
}
section.secLevel table tr th, section.secLevel table tr td {
  border-right: solid 1px #bbbbbb;
  border-bottom: solid 1px #bbbbbb;
}
section.secLevel table tr th:nth-of-type(1), section.secLevel table tr td:nth-of-type(1) {
  background: #f3ecd2;
  width: 50%;
}
@media screen and (max-width: 768px) {
  section.secLevel table tr th:nth-of-type(1), section.secLevel table tr td:nth-of-type(1) {
    width: auto;
    padding: 2%;
  }
}
section.secLevel table tr th:not(:nth-of-type(1)), section.secLevel table tr td:not(:nth-of-type(1)) {
  border-right: solid 1px #bbbbbb;
  width: 14%;
}
section.secLevel table tr th span, section.secLevel table tr td span {
  font-weight: bold;
}
section.secLevel table tr th {
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}
section.secLevel table tr th span {
  display: block;
}
section.secLevel table tr th:first-child {
  width: 25%;
  background: #fff;
  color: #000;
}
section.secLevel table tr th:nth-child(2) {
  background: #575757;
}
section.secLevel table tr th:nth-child(3) {
  background: #343332;
}
section.secLevel table tr th:nth-child(4) {
  background: #343332;
}
section.secLevel table tr td {
  text-align: center;
}
section.secLevel table tr td:nth-of-type(1) {
  vertical-align: middle;
  text-align: left;
}
@media screen and (max-width: 768px) {
  section.secLevel table tr td img {
    width: 15px;
  }
}
section.secSecure h2 {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  section.secSecure h2 {
    margin-bottom: 12px;
  }
}
section.secSecure .cntWrap {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  section.secSecure .cntWrap {
    margin-bottom: 0;
  }
}
section.secSecure .cntWrap .cntBox {
  width: 33.33333%;
  margin-bottom: 26px;
  text-align: center;
}
section.secSecure .cntWrap .cntBox:nth-of-type(2) {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  section.secSecure .cntWrap .cntBox:nth-of-type(2) {
    margin-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  section.secSecure .cntWrap .cntBox {
    width: 48%;
    margin-bottom: 10px;
  }
}
section.secSecure .cntWrap .cntBox h3 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  section.secSecure .cntWrap .cntBox h3 {
    margin: 4px 0 0px 0;
  }
}
section.secSecure .cntWrap .cntBox p {
  font-weight: bold;
  font-size: 110%;
}
@media screen and (max-width: 768px) {
  section.secSecure .cntWrap .cntBox p {
    text-align: center;
    font-size: 100%;
  }
}
section.sec03 {
  margin: 0 auto 100px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  section.sec03 {
    margin: 0 auto 34px;
  }
}
section.sec03 > img:nth-of-type(1) {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  section.sec03 > img:nth-of-type(1) {
    margin-bottom: 18px;
  }
}
section.sec03 p {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 30px;
  padding: 5px 0;
  font-size: 12px;
  text-align: right;
}
@media screen and (max-width: 768px) {
  section.sec03 p {
    margin: 0 auto 18px;
  }
}
section.sec03 h3 {
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  section.sec03 h3 {
    font-size: 20px;
    margin-bottom: 50px;
  }
}
section.sec03 h3::after {
  content: "";
  display: block;
  width: 104px;
  height: 1px;
  background: #6d583a;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 52px);
}
section.sec03 table {
  max-width: 904px;
  margin: 0 auto 70px auto;
  border: solid 1px #bbbbbb;
}
section.sec03 table tr {
  border-bottom: solid 1px #bbbbbb;
}
section.sec03 table tr th, section.sec03 table tr td {
  padding: 15px 10px;
}
@media screen and (max-width: 768px) {
  section.sec03 table tr th, section.sec03 table tr td {
    width: 41%;
    padding: 2.5%;
  }
}
section.sec03 table tr th, section.sec03 table tr td {
  border-right: solid 1px #bbbbbb;
  border-bottom: solid 1px #bbbbbb;
}
section.sec03 table tr th:nth-of-type(1), section.sec03 table tr td:nth-of-type(1) {
  background: #f3ecd2;
}
@media screen and (max-width: 768px) {
  section.sec03 table tr th:nth-of-type(1), section.sec03 table tr td:nth-of-type(1) {
    width: auto;
    padding: 2%;
    font-size: 13px;
  }
}
section.sec03 table tr th:not(:nth-of-type(1)), section.sec03 table tr td:not(:nth-of-type(1)) {
  border-right: solid 1px #bbbbbb;
  width: 14%;
}
section.sec03 table tr th span, section.sec03 table tr td span {
  font-weight: bold;
}
section.sec03 table tr th {
  background: #faf6e7;
  text-align: center;
  vertical-align: middle;
}
section.sec03 table tr th span {
  display: block;
}
section.sec03 table tr th:first-child {
  background: #ffffff;
}
section.sec03 table tr td {
  text-align: center;
}
section.sec03 table tr td:nth-of-type(1) {
  vertical-align: middle;
  text-align: left;
}
@media screen and (max-width: 768px) {
  section.sec03 table tr td img {
    width: 15px;
  }
}
section.secBrand {
  margin: 0 auto 100px;
  padding: 0 5%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  section.secBrand {
    margin: 0 auto 56px;
    padding: 0;
  }
}
section.secBrand h2 {
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  section.secBrand h2 {
    line-height: 1.2 !important;
    margin-bottom: 30px;
  }
}
section.secBrand .brand {
  margin-bottom: 75px;
}
@media screen and (max-width: 768px) {
  section.secBrand .brand {
    margin-bottom: 56px;
  }
}
section.secBrand .brand .cntWrap {
  align-items: -webkit- center;
  align-items: center;
}
section.secBrand .brand .cntWrap:not(:nth-last-of-type(1)) {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #e0e0e0;
}
section.secBrand .brand .cntWrap .left {
  width: 55%;
  text-align: left;
}
@media screen and (max-width: 768px) {
  section.secBrand .brand .cntWrap .left {
    width: 100%;
    margin-bottom: 8px;
  }
}
section.secBrand .brand .cntWrap .left h3 {
  font-size: 18px;
  font-weight: bold;
}
section.secBrand .brand .cntWrap .left h3 span {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: normal;
  display: block;
}
@media screen and (max-width: 768px) {
  section.secBrand .brand .cntWrap .left h3 span {
    padding-top: 0px;
  }
}
section.secBrand .brand .cntWrap .left ul {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 3px;
}
@media screen and (max-width: 768px) {
  section.secBrand .brand .cntWrap .left ul {
    margin-top: 3px;
    margin-left: 40px;
  }
}
section.secBrand .brand .cntWrap .left ul li {
  font-size: 16px;
  list-style: disc;
}
@media screen and (max-width: 768px) {
  section.secBrand .brand .cntWrap .left ul li {
    font-size: 14px;
  }
}
section.secBrand .brand .cntWrap .right {
  max-width: 370px;
  width: 42%;
}
@media screen and (max-width: 768px) {
  section.secBrand .brand .cntWrap .right {
    max-width: 100%;
    width: 100%;
  }
}
section.secBrand .map {
  margin-bottom: 32px;
}
section.secBrand .map h2 {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  section.secBrand .map h2 {
    margin-bottom: 20px;
  }
}
section.secBrand .map img {
  width: 100%;
  height: 100%;
}
section.secBrand .map .frameM {
  width: 770px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  section.secBrand .map .frameM {
    width: 100%;
  }
}
section.secBrand .map .frameM dl {
  margin-bottom: 14px;
}
section.secBrand .map .frameM dl dt {
  text-align: left;
  padding: 2%;
  lien-height: 1;
  font-size: 100%;
  color: #ffffff;
  background-color: #78756c;
}
section.secBrand .map .frameM.mapArea2 {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  section.secBrand .map .frameM.mapArea2 {
    display: block;
  }
}
section.secBrand .map .frameM.mapArea2 dl {
  width: 377px;
}
section.secBrand .map .frameM.mapArea2 dl:first-of-type {
  margin-right: 14px;
}
@media screen and (max-width: 768px) {
  section.secBrand .map .frameM.mapArea2 dl {
    width: 100%;
  }
}
section.secBrand .map .frameM.mapArea3 {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  section.secBrand .map .frameM.mapArea3 {
    flex-wrap: wrap;
  }
}
section.secBrand .map .frameM.mapArea3 dl {
  width: 182px;
}
@media screen and (max-width: 768px) {
  section.secBrand .map .frameM.mapArea3 dl {
    width: 48%;
  }
}
section.secBrand .map .frameM.mapArea4 {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  section.secBrand .map .frameM.mapArea4 {
    flex-wrap: wrap;
  }
}
section.secBrand .map .frameM.mapArea4 dl {
  width: 182px;
}
section.secBrand .map .frameM.mapArea4 dl:last-of-type {
  width: 377px;
}
@media screen and (max-width: 768px) {
  section.secBrand .map .frameM.mapArea4 dl {
    width: 48%;
  }
  section.secBrand .map .frameM.mapArea4 dl:last-of-type {
    width: 100%;
  }
}
section.secBrand .map .frameM.mapArea4 dl dt.kyusyu {
  line-height: 1;
}

.wide {
  padding-top: 60px;
  text-align: center;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto 95px;
  background: url(../img/membership/wide.jpg) no-repeat center center/cover;
}
@media screen and (max-width: 768px) {
  .wide {
    padding-top: 0px;
    margin: 0 auto 30px;
  }
}
.wide::after {
  content: "";
  display: block;
  /*padding-top: 32.333%;*/
}
@media screen and (max-width: 768px) {
  .wide::after {
    /*padding-top: 42%;*/
  }
}
.wide .wideIn {
  padding: 100px 0;
}
@media screen and (max-width: 768px) {
  .wide .wideIn {
    padding: 30px 0;
  }
}
.wide .wideIn .catch {
  color: #ffffff;
  font-size: 140%;
  font-weight: 500;
}
.wide .wideIn .link {
  margin: 50px auto 60px auto;
  border: 1px #ffffff solid;
  width: 450px;
}
@media screen and (max-width: 768px) {
  .wide .wideIn .link {
    margin: 30px auto 30px auto;
    width: 90%;
    color: #ffffff;
  }
}
.wide .wideIn .link a {
  color: #ffffff;
  display: block;
  padding: 20px 40px;
}
.wide .wideIn .link a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}

.btn {
  text-align: center;
}
.btn a.btn_arrow {
  position: relative;
  display: block;
  width: 500px;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background: #46c1be;
  border-radius: 60px;
  -webkit-border-radius: 60px;
}
@media screen and (max-width: 768px) {
  .btn a.btn_arrow {
    width: 100%;
    font-size: 16px;
    line-height: 1.3;
    padding: 15px;
  }
}
.btn a.btn_arrow:before, .btn a.btn_arrow:after {
  content: "";
  position: absolute;
  top: 50%;
}
.btn a.btn_arrow:before {
  right: 7px;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  background: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
}
@media screen and (max-width: 768px) {
  .btn a.btn_arrow:before {
    width: 30px;
    height: 30px;
    margin: -15px 0 0;
  }
}
.btn a.btn_arrow:after {
  right: 20px;
  width: 13px;
  height: 13px;
  margin: -10px 0 0;
  border-top: solid 5px #46c1be;
  border-right: solid 5px #46c1be;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
@media screen and (max-width: 768px) {
  .btn a.btn_arrow:after {
    right: 17px;
    width: 8px;
    height: 8px;
    margin: -6px 0 0;
  }
}/*# sourceMappingURL=membership1904.css.map */