@charset "utf-8";
@import 'mixin';
$color-Green1: #27a19e;
$color-red: #e40037;

select{&::placeholder{
  color:#cdcdcd;
}}

.main_contents {
	/*font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-seri*/
	font-size: 16px;
	@include break {
		font-size: 14px;
		padding: 0 4%;
	}
	* {
		box-sizing: border-box;
	}
}//main_contents 

  .wrapper {
      .mv_Area{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin: 0 auto 65px;
	@include break {
    margin: 90px auto 40px;
    flex-direction: column;
          }
          &.index{
    	@include break {
    margin: 0px auto 40px;
          }
          }
          
    .mv {
	max-width: 1060px;
	width: 100%;
	margin: 0 auto;
    text-align: center;
	background: url(/casestudies_r/images/casestudiesIndex/casestudy_index_mv.jpg)  no-repeat right center / cover;
	position: relative;
	@include break {
        max-width: 100%;
		margin: 5% auto 10px;
	}
    &::after {
		content: '';
		display: block;
        padding-top: 36%;
		@include break {
			padding-top: 50%;
		}
	}
	 .pageName {
    position: absolute;
	pointer-events: none;
	 top: 0;
      left: 0;
       right: 0;
      bottom: 0;
      margin: auto;
	color: #000;
    height:100px;
    width: 308px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background-color: rgba(255,255,255,0.60);
	z-index:1;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.1em;
        @include  break{
            width: 70%;
            height:80px;line-height: 80px;
            font-size: 22px;background-color: rgba(255,255,255,0.7);}
        
    }
}
          
          
#casestudy_select{
    background: #474747;  
    max-width: 350px;
    width: 100%;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
@include  break{
    height: 210px;
    }
    
    .inputBox{
width: 100%;
    max-width: 250px;
    .casestudy_ttl{
    font-size: 18px;
    font-weight: bold;
    border-left: 2px solid #fff;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 30px;
@include  break{
    font-size: 16px;
    margin-bottom: 20px;        
        }
        }

    .container{
        position: relative;
        &:before{
    content: "▼";
    position: absolute;
    color: #000;
    font-size: 10px;
    top: 25%;
    right: 5%;
@include  break{
    top: 35%;
            }
            
        }
    select,option{
    max-width: 740px;
    width: 100%;
    border-radius: 2px;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    color: #000;
    font-weight: lighter;
    background: #fff;
  -webkit-appearance: none;
  appearance: none;
    font-weight: 400;
@include break{
    font-size: 14px;
    padding: 12px 10px;
    }        
    }
            
        
    }
    .casestudy_searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #e00133;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    height: 45px;
    margin-top: 30px;
    border: none;
    transition: 0.5s;
@include break{
    font-size: 16px;
    height: 40px;
    margin-top: 20px;
        }
        
    &:hover{
    text-decoration: none;
    opacity: 0.7;
    }
    }
    }

          }
          
        }  
      .caseList{
          >h2{
              background: none;
              padding: 0;
              font-weight: bold;
              font-size: 24px;
              margin: 38px 0 0 0;
              text-align: center;@include break { margin: 15px 0 0 0;}
          }//h2
          ul{width: 840px;
              margin: 20px auto 40px auto;
              display: flex;
              justify-content:space-between;
              flex-wrap: wrap;
              @include break {width: 100%;margin: 0px auto 20px auto;}
              li{
                 
                  width: 270px;
                  margin-bottom: 15px;
                  @include break {
                      display: table-cell;
		vertical-align: middle;
                      width: 32.5%;
                      margin-bottom: 5px;}
                  a{ 
                      padding: 15px 0;
                      border:1px #000 solid;
                      border-radius: 5px;
                      text-align: center;
                      display: block;
                      font-weight: bold;
                      background: #f6f6f6;
                      text-decoration: none;
                      
                      @include break {width: 32.5%;font-size: 12px;
                      height: 56px;
                       line-height: 1;
                      display: table-cell;
		                vertical-align: middle;padding: 15px 10px;}
                      &.now{
                  background: #000;
                          color: #fff;
                      }//now
                      &:hover{
                  background: #000;
                          color: #fff;
                          opacity: 10 !important;
                      }//now
                  }//a
              }//li
          }//ul
          
      }//caseList
      .companies{
          width: 100%;
          padding: 54px 28px 60px 28px;
      background: #f6f6f6;
          border-radius: 5px;
          @include break {padding: 10px 10px 25px 10px;}
          >h2{
              font-size: 24px;
              font-weight: bold;
              text-align: center;
              background: url("../images/casestudiesIndex/casestudy_h2_bg.gif") center bottom no-repeat;
              padding-bottom: 20px; 
              @include break {padding-bottom: 5px;padding-left: 0 !important; }
          }//h2
          #cmp{ 
              margin-top: 30px;
              border-radius: 5px;
                @include flex;
	            @include jc(flex-start);
	            @include ai(flex-start);
	            @include fw(wrap);
              @include break {padding-bottom: 10px; } 
              li{display: flex;  
                  background: #fff;
                  width: 32%;
                  margin-right: 2%;
                  margin-bottom: 12px;
                 @include break {width: 100%;  margin-bottom:20px;}
                  &:nth-child(3n){
                      margin-right: 0;
                  }
                  a
                  { text-decoration: none;
                   position: relative;
                  display: inline-block;
                      
                  &::after {
                  position: absolute;
                  bottom: -4px;
                  left: 0;
                  content: '';
                  width: 100%;
                  height: 5px;
                  background: $color-red;
                  transform: scale(0, 1);
                  transform-origin: right top;
                  transition: transform .3s;
                }
                      &:hover::after {
                      transform-origin: left top;
                      transform: scale(1, 1);
                    }
                      &:hover{
                          opacity:0.8 !important;
                      }
                  }//a
                  .pct {
                    @include break {position: relative;z-index: 10;}
                  img{border-radius:5px 5px 0 0 /5px 5px 0 0;
                      }}
                  
                  dl{position: relative;
                      z-index: 20;
                      padding: 10px 25px 25px 25px;
                      @include break {padding: 0 15px 10px 15px;margin-top: -30px;}
                      dt{
                          >h3{font-size: 16px;
                          font-weight: 800;
                          line-height: 1.5;
                          margin-bottom: 10px; @include break {font-size: 14px;background: #fff;padding: 20px 5px 0 5px;margin-bottom: 5px; }
                          }
                      }//dt
                      dd{
                           .nameC{background: #efefef;border-radius: 3px;padding: 11px 7px;font-size: 14px;
                          margin-bottom: 10px;}
                          .nameP{font-size: 14px;span{font-size: 12px;}}   
                          }//dd
                  }//dd
                  
              }//li
          }//ul
          .allCaseBtn{ width: 200px;
                  margin: 20px auto 15px auto;
                  @include break {
		vertical-align: middle;
                      width: 50%;
                      margin: 10px auto 10px auto;}
                  a{ 
                      padding: 10px 0;
                      border:1px #000 solid;
                      border-radius: 30px;
                      text-align: center;
                      display: block;
                      font-weight: bold;
                      background: #f6f6f6;
                      text-decoration: none;
                      
                      @include break {font-size: 12px;
                       line-height:40px;
		              vertical-align: middle;padding: 0px 10px;}
                      &:hover{
                  background: #000;
                          color: #fff;
                          opacity: 10 !important;
                      }//now
                  }//a
              
          }
      }//comparies





.slider{
    margin: 70px auto 50px auto;
    width: 920px;
     @include break {
         width: 85%;
         margin: -40px auto 50px auto;
    }
   
    
    a{
            display: block;
            &:hover{
                opacity: 0.8;
                font-style: normal;
                text-decoration: none;
            }
    }//a
    
.pickup{overflow: visible;
     @include break {width:100vw;margin-bottom:0;}
    }
 .pickup_area{margin-left:47px;margin-right:47px;
        @include break {margin:0;}}
 .pickup_area_inside{display:flex;
     flex-direction:row;
    justify-content:space-between;position:relative;
     overflow: visible;
     height: 320px;
    @include break {display:block;padding-left:2%;height:auto;}
.pickup_txt{
    width:440px;padding-top:50px;
    position: relative;
    background: transparent;
    z-index: 500;
    @include break {width:100%;}
     
       .pickup_txt_icon{width:160px;margin-bottom:10px;display:block;
        background: #e21a37;
        color: #fff;
        font-size: 14wv;
        padding: 2px 0;
        text-align: center;
        border-radius:15px;
    @include break {margin-bottom:10px;display:inline-block;}}
    .pickup_txt_ttl{
    color:#333;font-weight:thin;
        font-size:22px;line-height:1.3;margin-bottom:20px;
    @include break {font-size:18px;margin-bottom:3px;}}
    .pickup_txt_company{font-size:18px;font-weight:bold;
    @include break {font-size:16px;font-weight:bold}}
    .pickup_txt_btn{margin-top:32px;
    }
    .pickup_txt_btn_link{width:160px;height:40px;line-height:40px;color:#fff;text-align:center;border-radius:5px;background-color:#0E84E5;margin-left:240px;display:inline-block;font-weight:bold;
    @include break {display:none}}//pickup_txt_btn_link
     }//text
  

.pickup_fig{
    width:543px;
    position:relative;
    z-index: -1;
    padding-bottom:70px;
    display: block;
    
    @include break {width:100%;padding-bottom:17vw;margin: 0 auto;}
     .pickup_fig_img{width:100%;}
    .pickup_fig_img.main{width:425px;
    position: absolute;
    right: 0;
    top:0;
        z-index: -1;
    @include break {position: relative;width:100vw;padding-left: 30vw;}}
    .pickup_fig_img.sub{position:absolute;
    width:225px;left:-50px;top:172px;overflow: visible;
    @include break {position:absolute;width:40vw;bottom:-10px;top:70px;left:0px;}}
    .pickup_btn{@include break {display:none;}}

.pickup_btn_link{ @include break {display:block;border-radius:5px;width:180px;height:55px;line-height:55px;text-align:center;color:#fff;background-color:#0E84E5;font-weight:bold;margin:26px auto 56px}}//pickup_btn_link
     }//pickup_fig
}//pickUpInside
/*.pickup_area_inside::after{content:'';width:1100px;height:270px;position:absolute;background-color:#ECF9FD;top:50px;left:20px;z-index:-1;
  @include break {height:100%;width:90vw;left:10vw;}}*/
/*arrow setting*/
.slick-prev:before,
.slick-next:before{
    color: #e21a37;
    @include break {
        display: none !important;
    }
}

      }//slider

    
}//wrapper