@charset "utf-8";
@import 'mixin';
$color-Green1: #27a19e;
$color-red: #e40037;
.main_contents {
	/*font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;*/
	font-size: 16px;
	@include break {
		font-size: 14px;
	}
	* {
		box-sizing: border-box;
	}
}
  .wrapper {
     .mv {
	max-width: 1060px;
	width: 100%;
	margin: 0 auto 15px;
    text-align: center;
	background: url(/casestudies_r/images/caseIndex/case_index_mv.jpg)  no-repeat center center / cover;
	position: relative;
	@include break {
        max-width: 100%;
		margin: 5% auto 25px;
	}
    &::after {
		content: '';
		display: block;
		padding-top: 34%;
		@include break {
			padding-top: 50%;
		}
	}
	.headH1tele {//h1
     position: absolute;    
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
        display: inline-block;
		font-size: 36px;
        line-height: 1;
		font-weight: bold;
		color: #000;
        width: 740px;
        background: #fff;
        padding: 35px 60px 4px 60px;white-space: nowrap;
        letter-spacing: 0.2em;
		@include break {
             width: 70%;
            text-align: center;
             bottom:-35px;
			font-size: 22px;
			line-height: 1.3;
            padding: 15px 20px ;white-space: wrap;
		}
	}
}
.lead{
    max-width: 936px;
	width: 100%;
	margin: 0 auto 25px auto;
    @include break {
             width: 98%;
        }
    
     .headLead{
         text-align: center;
        font-size: 20px;
        line-height: 1.5;
         padding-top: 12px;
         @include breakMini {
             font-size: 14px;
             text-align: left;padding-top: 0px;
        }
        
    } 
} //lead
     
      
    .indexList{
    width: 73%;
        margin: 50px auto 80px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
        @include  break{width: 100%; margin: 14px auto 25px auto;}
    li{
      width: 48%;
      height: 168px;
      cursor: pointer;
      overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    @include  break{width:48%;
        height: 140px;
        margin: 4px auto;
        }    
        
    .pageName {
    position: absolute;
	pointer-events: none;
	 top: 0;
      left: 0;
       right: 0;
      bottom: 0;
      margin: auto;
	color: #fff;
    height: 44px;
    width: 190px;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
    background-color: rgba(0,0,0,0.8);
	z-index:1;
    font-weight: 500;
    font-size: 20px;
        @include  break{
             width:74%;
            font-size: 14px;}
        
    }
    .indxListC {
        
      width: 100%;
      height: 400px;
      background-color: black; /* fallback color */
     @include  break{height: 200px;}
      background-position: center top;
      background-size: contain;
        transition: all .5s;
       &.img01{background-image: url("/casestudies_r/images/caseIndex/case_index_01.jpg");background-size: cover;}
    &.img02{background-image: url("/casestudies_r/images/caseIndex/case_index_02.jpg");background-size: cover;}
        
        
        }//indxListC
    
   &:hover .indxListC,
   &:focus .indxListC {
  transform: scale(1.2);
   } //hover

    }//indexListP
    
}//indexList

  
  }//wrapper

  /*-------------------
  casestudies/2nd
  ------------------------------------------*/
/*----SP----*/
@media screen and (max-width: 750px) {
  .wrapper .contents img {
    &.pcImg {
      display: none;
    }

    display: block;
    height: auto;
    text-align: center;
    width: 100%;
  }
  .spBr {
    display: block;
  }

}