@charset "utf-8";

/*----PC----*/
@media screen and (min-width: 750px) {

.wrapper .search{
	width:770px;
	background-color:#f2f2f2;
	margin:0 0 40px;
}
.wrapper .search .boxL{
	width:490px;
	float:left;
	padding:25px;
}
.wrapper .search .boxR{
	width:200px;
	display: table-cell;
	vertical-align: middle;
}
.wrapper .search2{
	width:770px;
	height:269px;
	background-color:#f2f2f2;
	margin:0 0 40px;
}
.wrapper .search2 .boxL{
	width:384px;
	float:left;
}
.wrapper .search2 .boxR{
	width:346px;
	padding:20px;
	float:left;
	position:relative;
}
.wrapper .search2 .boxR .btn{
	width:199px;
	position:absolute;
	top:213px;
	left:160px;
}
.wrapper .area h2{
	width:120px;
	float:left;
	padding:0;
	margin:0;
	text-align:center;
	background-image:none;
	background-color:#ccc9bd;
	line-height:50px;
}
.wrapper .area p{
	width:630px;
	float:left;
	padding-left:20px;
	background-color:#77756b;
	line-height:50px;
	color:#ffffff;
}
.wrapper .officeBox{
	width:377px;
	margin:0 16px 0 0;
	float:left;
}
.wrapper .officeBox:nth-child(2n){
	margin:0;
}
.wrapper .office{
	margin:10px 0 0;
}
.wrapper .officeBox .officeTtl{
	width:337px;
	background:url(/list/images/icn_map.gif) no-repeat 342px 8px #e0e0e0;
	padding:0 30px 0 10px;
}
.wrapper .officeBox .officeTtl h3{
	width:235px;
	font-weight:bold;
	float:left;
	line-height:45px;
}
.wrapper .officeBox .officeTtl p{
	width:80px;
	float:right;
	text-align:right;
	padding:0 15px 0 0;
	line-height:45px;
}
.wrapper .officeBox .address{
	padding:10px 0;
}
.wrapper .officeBox .officeBoxIn{
	padding:20px;
	background-color:#f2f2f2;
}
.wrapper .officeBox .officeBoxIn .txt{
	background-color:#ffffff;
}

.wrapper .officeBox .officeBoxIn .txt .access{
	padding:10px 15px;
	border-bottom:1px solid #f1f1f1;
}
.wrapper .officeBox .officeBoxIn .txt .ttl{
	background:url(/common2/images/icn_frame_red.png) no-repeat left top;
	padding:0 0 0 6px;
	line-height:18px;
	height:18px;
	color:#e30036;
	font-size:90%;
	margin:0 0 5px;
}
.wrapper .officeBox .officeBoxIn .txt .price .ttl{
	padding:0 0 0 17px;
}
.wrapper .officeBox .officeBoxIn .txt .feature{
	padding:10px 15px;
	border-bottom:1px solid #f1f1f1;
	font-size:90%;
}
.wrapper .officeBox .officeBoxIn .txt .price{
	padding:10px 15px;
	border-bottom:1px solid #f1f1f1;
}
.wrapper .officeBox .officeBoxIn .btnBox{
	width:320px;
	margin:20px auto 0;
}
.wrapper .officeBox .officeBoxIn .btnBox .btnL{
	width:151px;
	float:left;	
}
.wrapper .officeBox .officeBoxIn .btnBox .btnR{
	width:151px;
	float:right;	
}

.wrapper .contents .popular table{
	background-color:#f2f2f2;
}
.wrapper .contents .popular table th{
	font-weight:bold;
	background-color:#ccc9bd;
	padding:20px 10px;
	text-align:center;
	border-bottom:1px solid #ffffff;
}
.wrapper .contents .areaTxt{
	margin:20px 0 0;
}

/*---/20151201/---*/
.map_area{
	width: 770px;
	margin-top: 20px;
}
.map_area dl{
	background-color: #78756c;
	margin-top: 10px;
}
.map_area dl.big{
	width: 100%;
}
.map_area dl.small{
	max-width: 182px;
	margin-right: 14px;
	float: left;
}
.map_area dl.middle{
	max-width: 377px;
	float: left;
}
.map_area dl.small dt{
	padding:5%!important;
}
.map_area dl dt{
	text-align:left;
	padding:2%;
	lien-height:1;
	font-size:100%;
	color:#ffffff;
}
.pc_last{
	margin-right: 0!important;
}
.fl_area{
	width: 770px;
}

}

/*----SP----*/
@media screen and (max-width: 750px) {
img{
	width: 100%;
	height: 100%;
}
.wrapper .leadTxt{
	margin:4% 0 0;
}
.wrapper .search,
.wrapper .search2{
	width:100%;
	background-color:#f2f2f2;
}
.wrapper .search .boxL{
	padding:5% 5% 0;
}
.wrapper .search .boxR{
	width:60%;
	margin:0 auto;
	padding:5%;
}
.wrapper .search2 .boxL{
	padding:5% 5% 0;
}
.wrapper .search2 .boxR p{
	padding:5% 5% 0;
}
.wrapper .search2 .boxR .btn{
	width:60%;
	margin:0 auto;
	padding:5%;
}
.wrapper .area{
	margin:5% 0 0;
}
.wrapper .area h2{
	text-align:center;
	background-image:none;
	background-color:#ccc9bd;
	padding:3%;
	margin:5% 0 0;
	line-height:1;
	font-weight:bold;
}
.wrapper .area p{
	background-color:#77756b;
	color:#ffffff;
	padding:3%;
}
.wrapper .officeBox{
	margin:3% 0 0;
}
.wrapper .officeBox .officeTtl{
	background-color:#e0e0e0;
	padding:2% 5%;
}
.wrapper .officeBox .officeTtl h3{
	font-weight:bold;
	line-height:35px;
}
.wrapper .officeBox .officeTtl p{
	line-height:35px;
	padding:0 0 0 27px;
	background:url(/list/images/icn_map.gif) no-repeat 0 0;
}
.wrapper .officeBox .address{
	padding:10px 0;
}
.wrapper .officeBox .officeBoxIn{
	padding:20px;
	background-color:#f2f2f2;
}
.wrapper .officeBox .officeBoxIn .txt{
	background-color:#ffffff;
}

.wrapper .officeBox .officeBoxIn .txt .access{
	padding:10px 15px;
	border-bottom:1px solid #f1f1f1;
}
.wrapper .officeBox .officeBoxIn .txt .ttl{
	background:url(/common2/images/icn_frame_red.png) no-repeat left top;
	padding:0 0 0 6px;
	line-height:18px;
	height:18px;
	color:#e30036;
	font-size:90%;
	margin:0 0 5px;
}
.wrapper .officeBox .officeBoxIn .txt .price .ttl{
	padding:0 0 0 17px;
}
.wrapper .officeBox .officeBoxIn .txt .feature{
	padding:10px 15px;
	border-bottom:1px solid #f1f1f1;
	font-size:90%;
}
.wrapper .officeBox .officeBoxIn .txt .price{
	padding:10px 15px;
	border-bottom:1px solid #f1f1f1;
}
.wrapper .officeBox .officeBoxIn .btnBox{
	width:93%;
	margin:20px auto 0;
}
.wrapper .officeBox .officeBoxIn .btnBox .btnL{
	width:47%;
	float:left;	
}
.wrapper .officeBox .officeBoxIn .btnBox .btnR{
	width:47%;
	float:right;	
}
.wrapper .contents .popular table{
	background-color:#f2f2f2;
}
.wrapper .contents .popular table th{
	width:100%;
	font-weight:bold;
	background-color:#ccc9bd;
	padding:3% 0;
	display:block;
	text-align: center;	
	border-collapse:collapse;
}
.wrapper .contents .popular table td{
	width:49%;
	text-align:center;
	display:inline-block;
	*display: inline;
  *zoom: 1;
	padding:5% 0;
	border-collapse:collapse;
	box-sizing:content-box;
}
.wrapper .contents .areaTxt{
	margin:20px 0 0;
}

/*---/20151201/---*/
.map_area{
	width: 100%;
	margin-top: 4%;
}
.map_area dl{
	background-color: #78756c;
}
.map_area dl.big{
	width: 100%;
}
.map_area dl.small{
	width: 48%;
	float: left;
	margin-top: 4%;
	margin-right: 4%;
}
.map_area dl.middle{
	width: 100%;
	margin-top: 4%;
	float: left;
}
.map_area dl dt{
	text-align:left;
	padding:2%;
	lien-height:1;
	font-size:100%;
	color:#ffffff;
}
.map_area dl.small dt{
	padding:5%!important;
}
.sp_last{
	margin-right: 0 !important;
}


}

/*---add---*/

@media screen and (min-width: 750px) {
ul.nav {
	font-size: 0;
}
ul.nav li {
	display: inline-block;
 *zoom: 1;
 *display: inline;
}
ul.nav li.nav1, ul.nav li.nav3, ul.nav li.nav4 {
	width: 154px;
}
ul.nav li.nav2 {
	width: 156px;
}
ul.nav li.nav5 {
	width: 150px;
}
.base {
	width: 770px;
	margin-bottom: 30px;
}
.base h3 {
	font-size: 107%;
	position: relative;
	padding-left: 30px;
}
.base h3:before {
	position: absolute;
	top: 2px;
	left: 10px;
	margin-right: 5px;
	content: " ";
	display: inline-block;
	background: #666;
	width: 1em;
	height: 1em;
}
.base p.txtmap {
	font-weight: bold;
	color: #e40037;
}
.base dl {
	margin-bottom: 30px;
}
.base dl dt {
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	/*width: 200px;
	float: left;*/
	font-size: 93%;
	clear: both;
}
.base dl dd {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 15px;
	/*width: 550px;
	margin-left: 200px;*/
	font-size: 93%;
}
}

@media screen and (max-width: 750px) {
ul.nav {
	font-size: 0;
	margin-top: 3%;
}
ul.nav li {
	display: inline-block;
 *zoom: 1;
 *display: inline;
}
ul.nav .nav1 {
	width: 20.8%;
}
ul.nav .nav2 {
	width: 22.2%;
}
ul.nav .nav3 {
	width: 13.3%;
}
ul.nav .nav4 {
	width: 21.7%;
}
ul.nav .nav5 {
	width: 22%;
}
.base {
	width: 100%;
}
.base h3 {
	font-size: 107%;
	position: relative;
	padding-left: 20px;
	margin-bottom: 3%;
}
.base h3:before {
	position: absolute;
	top: 2px;
	left: 0px;
	margin-right: 5px;
	content: " ";
	display: inline-block;
	background: #666;
	width: 1em;
	height: 1em;
}
.base p.txtmap {
	font-weight: bold;
	color: #e40037;
}
.base dl {
	margin-bottom: 15%;
}
.base dl dt {
	margin-bottom: 1%;
	font-weight: bold;
}
.base dl dd {
	padding-bottom: 2%;
	margin-bottom: 2%;
	border-bottom: 1px solid #939696;
}
}