@charset "UTF-8";
.txRed {
  color: #e40037; }

.txtBold {
  font-weight: bold; }

h2.faqTtl {
  font-size: 18px !important;
  font-weight: bold;
  background-image: none !important;
  margin-bottom: 10px  !important;
  padding-left: 15px !important; }

.accordion {
  margin: 10px auto 70px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .accordion {
      margin: 30px auto 30px; } }
  .accordion .toggle {
    display: none; }
  .accordion .option {
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px solid #dedede; }
    .accordion .option:first-child {
      border-top: 1px solid #dedede; }
  .accordion .title, .accordion .content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.5s; }
  .accordion .title {
    font-size: 18px;
    padding: 30px 100px 30px 10px;
    display: block;
    color: #333;
    font-weight: bold; }
    @media screen and (max-width: 768px) {
      .accordion .title {
        font-size: 15px;
        padding: 24px 30px 24px 10px;
        line-height: 1.5; } }
    .accordion .title::after, .accordion .title::before {
      content: "";
      position: absolute;
      right: 1.25em;
      top: 30px;
      width: 2px;
      height: 0.75em;
      background-color: #999;
      transition: all 0.3s; }
    .accordion .title::after {
      transform: rotate(90deg); }
  .accordion .content {
    max-height: 0;
    overflow: hidden; }
    .accordion .content .in {
      background: #f5f5f5;
      padding: 20px; }
      .accordion .content .in p {
        margin: 0;
        padding: 10px;
        font-size: 16px;
        line-height: 1.7; }
        @media screen and (max-width: 768px) {
          .accordion .content .in p {
            font-size: 14px;
            line-height: 1.8;
            padding: 2px; } }
      .accordion .content .in .interview {
        padding: 0 0 0 10px; }
        .accordion .content .in .interview li {
          margin-bottom: 8px; }
      .accordion .content .in .plan {
        display: flex;
        flex-wrap: wrap;
        width: 100%; }
        .accordion .content .in .plan dt {
          font-weight: bold;
          width: 35px;
          margin-bottom: 15px;
          border-right: 3px #ccc solid; }
        .accordion .content .in .plan dd {
          width: calc(100% - 60px);
          padding-left: 10px;
          margin-bottom: 15px; }
      .accordion .content .in .linkA {
        max-width: 450px;
        width: 100%;
        margin: -15px 0 0;
        -js-display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: -webkit- space-between;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: -webkit- flex-start;
        align-items: flex-start;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap; }
        @media screen and (max-width: 768px) {
          .accordion .content .in .linkA {
            display: block;
            margin: 0 0;
            width: 72%; } }
        .accordion .content .in .linkA .btns {
          width: 100%;
          padding: 0 10px; }
          @media screen and (max-width: 768px) {
            .accordion .content .in .linkA .btns {
              width: 100%;
              margin: 0 auto 10px auto; } }
          .accordion .content .in .linkA .btns a {
            text-align: center;
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 0 auto;
            padding: 10px 0;
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-decoration: none;
            border-radius: 25px; }
            @media screen and (max-width: 768px) {
              .accordion .content .in .linkA .btns a {
                width: 100%;
                font-size: 14px;
                line-height: 1.3;
                padding: 15px 20px;
                border-radius: 40px; } }
            .accordion .content .in .linkA .btns a:before, .accordion .content .in .linkA .btns a:after {
              content: "";
              position: absolute;
              top: 50%; }
            .accordion .content .in .linkA .btns a:before {
              right: 10px;
              width: 30px;
              height: 30px;
              margin: -15px 0 0;
              background: #fff;
              border-radius: 60px;
              -webkit-border-radius: 60px; }
              @media screen and (max-width: 768px) {
                .accordion .content .in .linkA .btns a:before {
                  width: 20px;
                  height: 20px;
                  margin: -9px 0 0; } }
            .accordion .content .in .linkA .btns a:after {
              right: 20px;
              width: 10px;
              height: 10px;
              margin: -7px 0 0;
              border-top: solid 4px #46c1be;
              border-right: solid 4px #46c1be;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg); }
              @media screen and (max-width: 768px) {
                .accordion .content .in .linkA .btns a:after {
                  right: 17px;
                  width: 7px;
                  height: 7px;
                  margin: -4px 0 0;
                  border-top: solid 3px #46c1be;
                  border-right: solid 3px #46c1be; } }
            .accordion .content .in .linkA .btns a.btn_con {
              background: #46c1be; }
            .accordion .content .in .linkA .btns a.btn_my {
              background: #e40037; }
              .accordion .content .in .linkA .btns a.btn_my:after {
                border-top: solid 4px #e40037;
                border-right: solid 4px #e40037; }
                @media screen and (max-width: 768px) {
                  .accordion .content .in .linkA .btns a.btn_my:after {
                    border-top: solid 3px #e40037;
                    border-right: solid 3px #e40037; } }
      .accordion .content .in .kind {
        border-collapse: separate;
        border-spacing: 0px 5px;
        margin: 0 auto; }
        .accordion .content .in .kind td, .accordion .content .in .kind th {
          padding: 10px; }
        .accordion .content .in .kind th {
          background: #666;
          color: #fff; }
        .accordion .content .in .kind td {
          background: #e9e8e5; }
      .accordion .content .in .txRed {
        color: #e40037; }
      .accordion .content .in .txBol {
        font-weight: bold; }
      .accordion .content .in a:link {
        text-decoration: underline !important; }
  .accordion .toggle:checked + .title + .content {
    max-height: 500px;
    transition: all 1.5s; }
  .accordion .toggle:checked + .title::before {
    transform: rotate(90deg) !important; }

.btnContact {
  width: 730px;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .btnContact {
      display: block;
      width: 80%; } }
  .btnContact .tel {
    width: 40%;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 0.1em; }
    @media screen and (max-width: 768px) {
      .btnContact .tel {
        width: 100%; } }
    .btnContact .tel span {
      display: block; }
      .btnContact .tel span.num {
        color: #e41d3a;
        font-size: 210%;
        line-height: 1.4;
        font-weight: bold;
        letter-spacing: 0.01em;
        font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif"; }
        .btnContact .tel span.num:before {
          content: '';
          /*何も入れない*/
          display: inline-block;
          /*忘れずに！*/
          width: 30px;
          /*画像の幅*/
          height: 30px;
          /*画像の高さ*/
          background: url(/special/rentaloffice/img/common/tel_icon.png) no-repeat;
          background-size: contain;
          vertical-align: middle;
          padding-left: 5px; }
      .btnContact .tel span.note {
        font-size: 76%; }
  .btnContact .link {
    width: 50%;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .btnContact .link {
        margin-top: 15px;
        width: 70%; } }
    .btnContact .link a.btn_con {
      text-align: center;
      position: relative;
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 18px 0;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      background: #46c1be;
      border-radius: 60px;
      -webkit-border-radius: 60px; }
      @media screen and (max-width: 768px) {
        .btnContact .link a.btn_con {
          width: 100%;
          font-size: 22px;
          line-height: 1.3;
          padding: 15px 40px; } }
      .btnContact .link a.btn_con:before, .btnContact .link a.btn_con:after {
        content: "";
        position: absolute;
        top: 50%; }
      .btnContact .link a.btn_con:before {
        right: 15px;
        width: 40px;
        height: 40px;
        margin: -20px 0 0;
        background: #fff;
        border-radius: 60px;
        -webkit-border-radius: 60px; }
        @media screen and (max-width: 768px) {
          .btnContact .link a.btn_con:before {
            width: 36px;
            height: 36px;
            margin: -18px 0 0; } }
      .btnContact .link a.btn_con:after {
        right: 28px;
        width: 13px;
        height: 13px;
        margin: -10px 0 0;
        border-top: solid 5px #46c1be;
        border-right: solid 5px #46c1be;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
        @media screen and (max-width: 768px) {
          .btnContact .link a.btn_con:after {
            right: 27px;
            width: 12px;
            height: 12px;
            margin: -8px 0 0; } }

.to_faq a {
  text-decoration: none; }

.to_faq a p {
  margin-top: 10px;
  background-color: #f2f2f2;
  padding-right: 25px;
  line-height: 36px;
  text-align: right; }
