@charset "utf-8";

.mainArea .archive archiveIn{
	width:500px;
	}
	
.mainArea .archive dl{
	width:530px;
	border-bottom:1px solid #d9d9d9;
	padding:6px 0;
	}
	
.mainArea .archive dt.year{
	width:80px;
	float:left;
	font-weight:bold;
	}

.mainArea .archive dd.month{
	padding:0 5px;
	float:left;
	}

.mainArea .cpnAll{
	margin-bottom:40px;	
	}

.mainArea .cpnAll dl{
	padding:0 7px 10px 7px;
	}
	
.mainArea .cpnAll dt{
	padding:5px 0 2px 0;
	}
	
.mainArea .cpnAll dd{
	padding:0 0 5px 0;
	border-bottom:#e5e5e5 1px solid;
	}
	
/*--news kiji
------------------------------	*/

.mainArea .cpnKiji{
	margin-bottom:40px;	
	}

.mainArea .cpnKiji div.txtArea{
	padding:0 7px;
	}

.mainArea .cpnKiji div.txtArea p img{
	border:none;
	max-width:100%;
	height:auto;		
	}

.mainArea .cpnKiji p.yymmdd{
	margin:0 0 20px 0;
	text-align:right;
	}

.mainArea .cpnKiji p.honbun{
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	border-bottom:#e5e5e5 1px solid;
	}
	
.mainArea .cpnKiji .btnArea{
	text-align:right;
	padding:0 7px 0 0;
	}
	
@media only screen and (max-width: 768px) { 

.mainArea .archive archiveIn{
	width:100%;
	}
	
.mainArea .archive dl{
	width:100%;
	border-bottom:1px solid #d9d9d9;
	padding:6px 0;
	}
	
.mainArea .archive dt.year{
	width:80px;
	float:left;
	font-weight:bold;
	font-size:120%;
	}

.mainArea .archive dd.month{
	padding:0 10px;
	float:left;
	font-size:120%;
	}
	
.mainArea .cpnAll dt{
	font-size:120%;
	}
	
.mainArea .cpnAll dd{
	font-size:120%;
	}
}

@media only screen and (max-width: 481px) {
.mainArea .archive dt.year{
	width:100%;
	float:left;
	font-weight:bold;
	font-size:110%;
	}

.mainArea .archive dd.month{
	width:13.5%;
	padding:5px 5px;
	float:left;
	font-size:100%;
	}
	
/*--cpn kiji
------------------------------	*/
.mainConts .mainArea .cpnKiji h3{
	background: #064582;
	min-height:25px;
	margin-bottom:10px;
	padding:8px 0 8px 10px;
	color:#ffffff;
	font-weight:bold;
	}

.mainArea .cpnKiji{
	margin-bottom:40px;	
	}

.mainArea .cpnKiji p.yymmdd{
	margin:0 0 20px 0;
	text-align:right;
	}

.mainArea .cpnKiji p.honbun{
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	border-bottom:#e5e5e5 1px solid;
	}
	
.mainArea .cpnKiji .btnArea{
	text-align:right;
	}	
}


