@charset "utf-8";
@import 'mixin';

.main_contents {
	font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;
	font-size: 16px;
    //width: 100%;
	@include break {
		font-size: 14px;
	}
	* {
		box-sizing: border-box; 
	}
      
}

.ov {
	@include transition;
	&:hover {
		opacity: .8;
	}
}

.pc {
	@include break {
		display: none;
	}
}
.sp {
	@include break2 {
		display: none;
	}
}


$color-blue: #2a9df6;
$color-green: #46c1be;
$color-red: #e40037;
%innnerSet {
	max-width: 1200px;
	width: 94%;
	margin: 0 auto 0 auto;
	@include break {
        max-width:auto;
        width: 94%;
		margin: 0 auto;
	}

}//innnerSet


.kv {
    width: 100%;
    background-image: url(../images/top_kv_lo.png);
    background-position: center center;
     background-size: 100% auto;
    background-repeat: no-repeat;
    height: 500px;text-indent: -9000px;
    @include break {height: 250px;
        
    }
	
}
.points {
    width: 100%;
    background: url(../images/top_points_bg.png) repeat;
    padding: 133px 0 122px;
    @include break {padding: 60px 0 40px;}
    .inner {
		@extend %innnerSet;
		.ttl_area {
			display: block;
			align-items: center;
			@include break {
				display: block;
				padding: 0;
			}
			h1.spaces_logo {
                
				width: 80%;
                max-width: 378px;
                margin: 0 auto;
				@include break {
                     max-width: auto;
					width: 60%;
					margin: 0 auto;
				}
				img {
					width: 100%;
				}
			}
			h2.spaces_logo{
                margin-top: 30px;
				text-align: center;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.6 !important;
				@include break {
                    font-size: 18px !important;
                    width: 100%;
					margin: 20px 0 0 0;
                    padding-left: 0 !important;
				}
			}
		}
		.three_area {
            width: 100%;
			margin-top: 50px;
			@include break {
                width: auto;
				margin-top: 30px;
				display: block;
				padding: 0 2%;
			}
            .point_list{
                display: flex;
                justify-content:space-between;
                width: 100%;
                flex-wrap: wrap;
                @include break { display: block;flex-wrap:nowrap;
                    width: 100%;margin: 0 auto; justify-content:flex-start;}
                li{
                    width:  31.7%;
					background:#242424;
					color: #fff;
                    @include break { width: 100%;margin:0 auto;}
                    .point_img{
						img{
                         width: 100%;
                        height:186px;
                            object-fit: cover;@include break {height:140px;}}
                    }
                    .point_con{
                        padding: 50px 10% 50px 10%;
                        @include break {padding: 20px 6% 20px 6%;}
                    h3{text-align: center;
                        font-size: 20px;
                        letter-spacing: 0.05em;
                        font-weight: bold;
                        @include break {font-size:16px;}}
                        p{margin-top:40px;
                            line-height: 1.8;@include break {font-size:13px;margin-top:10px;}}
                    
                }}
                
            }//point_list
		}//three_area
	}
}
.reasons{width: 100%;
    padding: 130px 0 100px 0;
    @include break {padding: 60px 0 40px;}
    .inner {
		@extend %innnerSet;
        h2.h_reasons{
            letter-spacing: 0.1em;
            span{font-size: 30px;display: block;font-weight: bold;@include break {font-size: 20px!important;}}//span
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            @include break {font-size: 30px !important;padding: 0 !important;}
        }
        .four_reasons{
            width: 100%;
            margin-top: 50px;
            display: flex;
             justify-content: space-between;
            flex-wrap: wrap;
            @include break {  width: 94%;display: block;margin: 30px auto 0 auto;}
            li{flex-basis: 47%;
                display: flex;
                margin-bottom: 100px;
                @include break { margin-bottom:50px;width: 100%;}
                &:nth-child(2n-1){
                    padding-right:5%;
                }
                .box_txt{
                        width: calc(100% - 50%);
                    @include break { width: calc(100% - 30%);}
                    .num{color: #e6e6e6;
                        font-size: 70px;
                        line-height: 1;
                        font-weight: bold;
                        margin-bottom: 30px;
                        @include break { font-size: 60px;margin-top: -10px; margin-bottom:20px;}}
                    h3{font-size: 21px;
                        line-height: 1.4;
                        letter-spacing: 0.1em;
                        font-weight: bold;
                        @include break {font-size: 18px;}}
                    
                    p{
                        line-height: 1.8;
                        margin-top: 10px;}
                        padding-right: 10px;
                    }
                .box_img{
                    width:50%;
                    background: #333;
                    max-height: 250px;
                    @include break {width:30%;max-height: auto;}
                img {
                      width: 100%;
                      height: 100%;
                      
                      object-fit: cover;
                    }}
                
                
                
            }
        }
    }//inner
    
}
.gallery{
  @extend %innnerSet;
    h2.h_gallery{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 40px;
        @include break{font-size: 30px !important;padding: 0 !important;margin-bottom: 20px;}}
     .slider{
                width: 100%;
                margin: 0 auto;@include break{width:100%;}
            img{
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
             li{
                 .picture{width: 90%;
                 margin: 0 auto;
                     @include break{width: 100%;}
                 }
            dl {
                display: table;
                width:90%;
                margin: 0 auto;
                padding: 15px 0 0 0; @include break{display: block;}
           
            dt {
                width: 28%;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                font-weight: bold;
                font-size: 22px;
                 @include break{display: block;font-size: 18px;width: 100%;}
            }
            dd {
                width:72%;
                display: table-cell;
                border-left: solid 1px #000;
                vertical-align: middle;
                padding:  0 2%;
                @include break{display: block;font-size: 12px;width: 90%;margin: 0 auto;padding: 5px 0; border-left: 0;}
            }
        }//dl
        }//li
            }
   
}
.download{
    width: 100%;
    h2.down_h{
              font-size: 32px;
              font-weight: bold;
              line-height: 1;
              background: none;
              margin: 0;
              padding: 0;
              text-align: center;
              @include break {font-size:24px !important; line-height: 1 !important;padding-left: 0;}
          }
    .dwn_form{
      max-width: 900px;
      width: 100%;
      margin: 55px auto 0 auto;
      display: flex;
      justify-content: space-between;
      @include break { display: block; width: 100%;margin: 20px 0 0 0;}
      .leftB{
          width: 40%;
          @include break {width: 90%;margin: 0 auto;}
          .book{
              /*background: #fff url("../images/download/download_grade.jpg") repeat-x top right;*/
              padding-top: 30px;
              text-align: center;
              margin-top: 24px;@include break{margin-top: 10px;padding-top: 0px;}
              img{@include break {max-width: 50%;margin: 0 auto;}
                  
              }
          }
          >p{
              margin: 20px auto 0 auto;
              width: 340PX;
              font-size: 14px;
              line-height: 1.4;
              @include break {
                  text-align: center;
                  width: 100%;margin: 0 auto 10px auto;}
              span{display:inline; @include break {display:none;}}
          }
      }//leftB
      .rightB{
          width: 55%;
          max-width: 448px;
          background: #eee;
          overflow: visible;
          border-radius: 5px;
          
          position: relative;
          @include break {max-width: 94%;width: 94%;margin: 0 auto;padding-bottom: 15px;}
          &::before {
          content: "";
          position: absolute;
          top: 20%;
          left: -30px;
          margin-top: -15px;
          border: 15px solid transparent;
          border-right: 15px solid #eee;
              @include break {display: none; top: 0;
          left: 0;}
          }//before
          .explain{
              font-size: 16px;
              margin-bottom: 12px;
              text-align: center;
             @include break {font-size: 13px;margin: 0 0 8px 0;}}
          
          .dlForm{
              padding: 80px 30px 0 30px;
              @include break {padding:25px 0 0 0;text-align: center;}
              .formField {
                  margin: 0 0 8px 0;
           input[type="text"] ,input[type="email"] {
            border:0;
            padding:10px;
            font-size:1.3em;
            font-family:Arial, sans-serif;
            color:#aaa;
            border:solid 1px #ccc;
            margin:0 ;
            border-radius: 3px;
               &.short{width: 170px;display: inline;}   
               &.long{width: 348px;
                   @include break {width: 90%;}} 
           } //input
            input[type="text"]::placeholder,input[type="email"]::placeholder{
              color: #858585;font-size: 14px;
            }//placeholder
              
            .selectDown {
              -moz-appearance: none;
              -webkit-appearance: none;
              appearance: none;
              background: #fff url(/spaces-brochure/images/download/download_pull.png) no-repeat center right 12px/12px 8px;
              border: 1px solid rgba(0, 0, 0, 0.16);
              border-radius: 0;
              color: inherit;
              cursor: pointer;
              font-size: 1em;
              padding: 0.8em 0.8em;
              width: 348px;
                @include break {width: 100%;}
              &::-ms-expand {
              display: none;
              }
              &::focus {
              border: 1px solid rgba(0, 0, 0, 0.32);
              box-shadow: none;
              outline: none;
              }             
              }//selectDown               
                  
 }//formField
             
              
              
              .Form-CheckItem {
                margin-top: 24px;
                font-size: 13px;
                @include break { margin-top:20px;}
              }

              .Label {
                margin-top: 20px;
                position: relative;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
              }
              .Label-Input {
                display: none;
              }
              .Label-SquareIcon {
                border: 1px solid #ddd;
                display: block;
                flex: none;
                width: 24px;
                height: 24px;
                background: #eaedf2;
                  @include break { width: 15px;
                  height: 15px;}
              }

              .Label-Text {
                padding-left: 8px;
                font-size: 13px;
                a{color:$color-blue; }
                  @include break { padding-left: 6px;
                  font-size: 2vw;}
              }

              .Form-Btn {
                background: url("/spaces-brochure/images/dl_icon.png") no-repeat center center;
                background-size: contain;
                border-radius: 6px;
                margin: 30px auto 0 auto;
                padding: 20px 0;
                width: 348px;
                display: block;
                letter-spacing: 0.05em;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                opacity: 0.2;
                pointer-events: none;
                transition: all 0.2s;
                border: none !important;
                  @include break { 
                  padding: 18px 0;
                  width: 90%;
                  margin: 20px auto 0;
                  font-size: 16px;}
              }

              .Form-Btn_bk {
                background: transparent url("/spaces-brochure/images/btn/case_download_btn_back.png") no-repeat center center;
              }

              .Form-Btn_snd {
                background: transparent url("/spaces-brochure/images/btn/case_download_btn_send.png") no-repeat center center;
              }

              .Form-Btn.isActive {
                opacity: 1;
                pointer-events: inherit;
              }
              .Label-Input:checked + *:before {
                content: "";
                display: block;
                width: 18px;
                height: 2px;
                background: #5bc8ac;
                transform-origin: bottom left;
                transform: rotateZ(90deg);
              }
              .Label-Input:checked + *:after {
                content: "";
                display: block;
                width: 8px;
                height: 2px;
                background: #5bc8ac;
                transform-origin: bottom left;
                transform: rotateZ(0deg);
              }
              .Label-Input:checked + * {
                width: 0;
                height: 0;
                transform: translate(8px, 8px) rotateZ(-135deg) scale(1.5);
                  @include break {transform: translate(5px, 7px) rotateZ(-135deg) scale(1.5);}
              }
          }//dlForm
          
          .download-Btn {
              a{
                  text-align: center;
                display: block;
                /*background: #e40137;*/
                background-color: inherit;
                border-radius: 6px;
                margin: 30px auto 0 auto;
                padding: 15px 0;
                width: 348px;
                display: block;
                  @include break { 
                  padding: 0px 0 15px;
                  width: 80%;
                  margin: 15px auto;
                  font-size: 16px;}
                  &:hover{opacity: 0.6;transition: all 0.2s;}
          }//a
      }//download-Btn
      }//rightB
    
}//dwn_form
}//download

/*---------CTA----------*/
.cta_area{
    width: 80%;
    max-width: 600px;
    margin: 100px auto 140px auto;
     @include break {margin:40px auto 70px auto;}
   .arrow-button{
            background-color: #71ac47;
            border-radius: 9999px;
            color: #fff;
            position: relative;
            text-align: center;
            text-decoration: none;
            width: 100%;
             height:94px;
             line-height:94px;
             display:inline-block;
             font-size: 33px;
             font-weight: bold;letter-spacing: 0.15em;
             padding-top: 5px;
        @include break {height:60px;
             line-height:60px; font-size: 22px;}

      &:after{
        content: '';
        border: 0;
        border-top: solid 4px #fff;
        border-right: solid 4px #fff;
        display: inline-block;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        right: 35px;
        transform: translateY(-50%) rotate(45deg);
          @include break { border-top: solid 3px #fff;
        border-right: solid 3px #fff;width: 12px;
        height: 12px;}
       }
       &:active{
        background: #447423;
       }
}
}
  
/*---------/CTA----------*/
.linkRed{width: 50%;
	margin: 0 auto;
	@include break {
		margin-top: 15px;
		width:80%;
	   }//__break
   a{
	 &.btn_con {
		 text-align: center;
          position: relative;
          display: block;
          width: 100%;
          margin: 0 auto;
          padding: 18px 0;
          color: #fff;
		    font-size: 24px;
          font-weight: bold;
          text-decoration: none;
          background:#e00133;
          border-radius: 60px;
              -webkit-border-radius: 60px;
        @include break {width:100%;
            font-size: 22px;
            line-height: 1.3;
            padding: 15px 40px;
            }
            &:before,&:after{
                    content: "";
                   position: absolute;
                   top: 50%;
                }//__beforeAfter
            &:before {
              right: 15px;
              width: 40px;
              height:40px;
              margin: -20px 0 0;
              background:#fff;
              border-radius: 60px;
              -webkit-border-radius:60px;
                @include break {
                     width: 36px;
              height:36px;
              margin: -18px 0 0;
                }
            }
            &:after {
              right: 28px;
              width: 13px;
              height: 13px;
              margin: -10px 0 0;
              border-top: solid 5px #e00133;
              border-right: solid 5px #e00133;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
                @include break {
                    right: 27px;
              width: 12px;
              height:12px;
              margin: -8px 0 0;
                }
}
}//_btn_con
}//_a
	}//_link




/*---------slide----------*/
.slick-arrow{
    z-index: 2!important;
    &::before{
        opacity: 1;
        content:""!important;
        width: 100%!important;
        height: 100%!important;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.slick-next{
    right: 30px;
    width: 20px;
    height: 27px;
    &::before{
        background: url("../images/top_slider_arrow_r.png") no-repeat center!important;
        background-size: 40px!important;
        @include break {background-size: 30px!important;
        }
    }
}

.slick-prev{
    left: 30px;
    width: 20px;
    height: 27px;    
    &::before{
        background: url("../images/top_slider_arrow_l.png") no-repeat center!important;
        background-size: 40px!important;
        @include break {background-size: 30px!important;
        }
    }
}

.slick-dots{
    bottom: 10px;
    li{
        width: 10px!important;
        button{
            &::before{
                content: '';
                color: #ffffff;
                opacity: 1;
                display: inline-block;
                background-image: url("../images/circle.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 10px;
                height: 10px;
            }
        }
        &.slick-active{
            button:before{
                content: '';
                color: #ffffff;
                opacity: 1;
                display: inline-block;  
                background-image: url("../images/circle_act.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 10px;
                height: 10px;
            }
        }
    }
} 
/*---------/slide----------*/
