@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');
body { /*font-family:YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;*/
font-family: 'Noto Sans Japanese', serif;
font-size:100%;
  color: #000000;
line-height: 1.0;
-webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.noto100 {font-weight:100;}
.noto200 {font-weight:200;}
.noto300 {font-weight:300;}
.noto400 {font-weight:400;}
.noto500 {font-weight:500;}
.noto600 {font-weight:600;}
.noto700 {font-weight:700;}
.noto800 {font-weight:800;}
.noto900 {font-weight:900;}


#container{
margin:0;padding:0;
background:#ffffff;
width:100%;
}

/*_______NAV_________________________________________*/
#header{
/*height:98px;キャンペーンバナーはいらないときはこっち*/
padding-bottom:10px;/*キャンペーンバナーはいるときはこっち*/
text-align:center;
}
p#newheadTxt{
	font-size:9px;
	line-height:1.2;
	text-align:center;
	color:#969696;
	padding-top:3px;
}
#newheaderIn{
width:980px;
margin:0 auto !important;
/*background:url(/lp/common/rentaloffice_01/images/neew_01.gif) left center no-repeat;*/
background-image:url(../images/ro17_logo_large.png) ;
background-size:14% auto !important;
background-repeat:no-repeat;
background-position: left 50%;
height:94px;
padding:0;
position:relative;
}
#newheaderIn #newheadTel{
	position: absolute;
	/*background: url(../images/new_02_genaral.gif) 0 center no-repeat;*/
	left: 188px;
	display: block;
	top: 21px;
	width: 300px;
	height: 50px;
	padding:0;
	margin:0;
	/*white-space: nowrap;*/
	
	overflow: hidden;
	text-align:left !important;
}


#newheaderIn #newheadTel a,
#newheaderIn #newheadTelCRM a{
	display:block;width: 300px;
	height: 70px;
}
#newheaderIn #newheadBtn{
	position: absolute;
	display: block;
	top: 22px;
	width: 300px;
	height: 48px;
	left: 520px;
}
#newheaderIn ul#newSNS{
	position: absolute;
	display: block;
	top: 19px;
	height: 48px;
	left: 887px;
	width:100px;
	padding-top:4px;
}
#newheaderIn ul#newSNS li{
	float:left;
	text-align:right;
	width:48px;
	list-style:none;
}
/*-------------*/
#headBnr{
	clear:both;
	width:980px;
	margin:0 auto !important;
	padding-bottom:10px;
	text-align:center;
	background:#ffffff;
	}
.telNum{
	height:78px;
}
/*= contents
======================================*/
#section02,#section04,
#section05,#section06,#section07,#section08{
	margin-top:100px;
}
.cv{
width:980px;
margin-top:90px;
margin-left:auto;
margin-right:auto;
padding:0;
clear:both;
overflow:hidden;
text-align:center;
}
.conIn{
width:980px;
margin:0 auto;
padding:0;
clear:both;
overflow:hidden;
}
.conIn h2{
	text-align:left;
	font-size:240%;
line-height:1.3;
 letter-spacing: -0.05em;
/*font-weight:bold;*/
margin:0 0 30px 0;
font-weight:bold;
}


/*________section01____________________________________*/
#section01{
	width:100%;
	background:url(../images/ro17_top_bg2.jpg) top center no-repeat;
	text-align:center;
	padding:0;
	height:540px;
}
#section01 .conInTop{
width:980px;
margin:0 auto;
padding:0;
position:relative;
}
/*#section01 h1{
padding:10px 0 0 0;
text-align:left;
font-size:300%;
line-height:1.25;
 letter-spacing: -0.05em;
font-weight:bold;
float:left;
}*/
#section01 .conInTop h1{
/*#section01 h1{
padding:50px 0 0 0;
text-align:center;
font-size:320%;
line-height:1.25;
 letter-spacing: -0.05em;
font-weight:bold;*/
position:absolute;
top: 434px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}
#section01 .regusLogo{
	test-align:right;
	width:160px;
	float:right;
	margin:20px 0 0 0;
}
#section01 .regusLogo img{
	width:100%;
	height:auto;
}

div#jumpMap{
	position:relative;
	padding:0;
	text-align:center;
	height:70px;
	/*background:url(/lp/common/rentaloffice_01/images/topwhite_bg.jpg) 0 0 no-repeat !important;*/
	/*background:url(/lp/common/rentaloffice_01/images/bg_white.png) 0 0 no-repeat                !important;*/
	background:#e4e4e3;
	width:980px;
	margin:0 auto;
}
div#jumpMapIn{
	
	padding:18px 3px;
}
div#jumpMapIn p.txt2b{
	font-size:18px;
	color:#000;	
line-height:1.3;
	
}
div#jumpMapIn p.txt2c{
font-size:14px;line-height:1.5;

font-weight:bold;
}
div#jumpMapIn p.txt2c a{
color:#184acb;
line-height:1.5;
text-decoration:underline;
}
div#jumpMapIn p.txt2c a:hover{
color:#f86f13;	
text-decoration:none;
}


/*#sec01In p.txt3{
	position:absolute;
top:564px;
width:980px;
height:78px;}
*/
/*__________section02__________________________________*/
#section02 h2{
	text-align:center;
}
#section02 .flL{
	width:380px;
	background:#47bab2;
	margin:0 0 0 80px;
}
#section02 .flR{
	width:380px;
	background:#007784;
	margin:0 80px 0 0;
}
#section02  .lo dl{
	margin:30px 30px;
	color:#ffffff;
}

#section02 .lo dl dt{
	text-align:center;
	font-size:170%;
	font-weight:bold;
	line-height:1;
	margin:0 0 20px 0
}
#section02 .lo dl dd{
	font-size:90%;
	line-height:1.5;
}


/*__________section03__________________________________*/
#section03 h3{
	margin:40px 0 20px 0;
	text-align:center;
	font-size:135%;
line-height:1.3;
font-weight:600;
	}
#section03 .bo01{
	float:left;
	width:310px;
	/*background:#47bab2;*/
	margin:0 0 0 0px;
}
#section03 .loScnd dl{
	margin:30px 30px;
	color:#ffffff;
}
#section03 .loScnd dl dt{
	text-align:center;
	font-size:140%;
	font-weight:bold;
	line-height:1;
	margin:0 0 20px 0
}
#section03 .loScnd dl dd{
	font-size:90%;
	line-height:1.5;
}

.bgScPink{
	background:#eb6168;
}
.bgScPurple{
	background:#804367;
}
.bgScGreen{
	background:#007784;
}
.bgScLime{
	background:#3fc0b5;
}
.bgScYellow{
	background:#c0cc2e;
}
.bgScBlue{
	background:#546cb3;
}
.mgR25{
	margin-right:25px !important;
}


/*__________section04__________________________________*/

#section04{
	dosplay:block;
background:url(../images/ro17_b_img01.jpg) right top no-repeat;
}
ul.checkList{
	margin:40px 0 0 0 ;
	width:580px;
}
ul.checkList li{
	font-size:130%;
	line-height:1.4;
	font-weight:bold;
	background:url(../images/ro17_icon_check.gif) 0 0 no-repeat;
	padding:5px 0 30px 40px;
}
ul.checkList li p{
	font-size:90%;
		line-height:1.4;
	font-weight:normal;
}


/*______section05______________________________________*/	
#section05 ul.bo02 li{
	float:left;
	width:310px;
	/*background:#47bab2;*/
	margin:0 0 25px 0;
}
#section05 ul.bo02 p{
	margin:0;
	text-align:center;
	font-size:120%;
	line-height:60px;
	color:#ffffff;
	vertical-align:middle;
}


/*______section06______________________________________*/	
#section06 ul.checkList{
	margin:40px 0 0 0 ;
	width:auto !important;
}
#section06 .box6{
	float:left;
	width:50%;
	margin-bottom:25px;
}
#section06 div:nth-child(2n){
	text-align:right;
}

/*___section07_________________________________________*/	
#section07 .box7 ul.checkList{
	margin:20px 0 0 0 ;
	width:auto !important;
}
#section07 .box7{
	float:left;
	width:50%;
	margin-bottom:25px;
}
#section07 .box7 p{
	text-align:right;
}


/*______section08______________________________________*/	
#section08 .box8L ul.checkList{
	margin:20px 0 0 0 ;
	width:auto !important;
}
#section08 .box8L{
	float:left;
	width:46%;
}
#section08 .box8R{
	float:right;
	width:52%;
	text-align:right;
}


/*_________________________________________________________*/	
.mgTGH2{
	padding-top:295px;
	margin-bottom:20px;
}

.mgTGH3{
	padding-top:373px;
}
.mgTGH4{
	padding-top:114px;
}


p.lastTxt{
	font-size:180%;
	line-height:1.9;
	font-weight:500;
	padding:180px 0;
	letter-spacing:0.001em;
	width:980px;
	margin:0 auto;
	text-align:center;
}
/*= contents
======================================*/
#footer{
	background:#f2f2f2;
	width:100%;
	padding:60px 0;
	text-align:center;
	margin:0;
}
/*_________________map_________________________*/
.mapLocFr{background:#000000;width:100%;text-align:center;}
.mapLoc{width:980px;margin:0 auto;

}
.mapLoc .left{background:#000000 url('../images/map_location.gif') 0 0 no-repeat                                                                                                                                                                                                                                                                !important;
padding:20px 0;}
.mapLoc .left2{width:630px;padding-top:15px;text-align:left;
color:#ffffff;
margin-left:340px;
font-size:11px;line-height:1.3;
/*background:#C33;*/}
.mapLoc .left2 dl {   
 /*width:640px; */
} 
.mapLoc .left2 dl dt{float:left;  
 width:200px;  
 padding:5px 0 5px 10px;  
 clear:both;  
 font-weight:bold;  }
.mapLoc .left2 dl dd{width:400px;  
 margin-left:200px;  
 padding:5px 5px 5px 10px; 
 /*background:#0C6;*/
 }
 
 
.mapLoc a:link{color:#ffffff;text-decoration:none;}
.mapLoc a:active{color:#ffffff;text-decoration:none;}
.mapLoc a:hover{color:#ffffff;text-decoration:underline;}
.mapLoc a:visited{color:#ffffff;text-decoration:none;}
.mapLoc .left2 ul li{margin-bottom:2px;}
.mapLoc .left2 ul{margin-bottom:25px;}
.txtmap{color:#6ed6dc;}


/*_____________________*/
#sec5Simple{
	width:820px;
	background:#f2f2f2;margin:0 auto;text-align:center;
}
#sec5Simple #sec5SimpleIn{
	padding:30px;
}
#sec5Simple #sec5SimpleIn p{
	width:617px !important;
	text-align:left;
	font-size:16px;
	line-height:1.6;
	margin:20px auto 0 auto;
}
p#footerLink{
	margin:10px 0 0;
	font-size:12px;
	
}
p#footerLink a{
	color:#000;
	text-decoration:none;
}
p#footerLink a:hover{	
text-decoration:underline;
}
p#footerLink a:active{
	text-decoration:none;
}
p#footerLink a:visited{
	text-decoration:none;
}

.campaign{
	margin:20px 0 20px 0;
	font-size:22px;
	font-weight:bold;
	color:#000;
}
/*料金表＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿*/
.priceDiv{
	width:650px;
	margin:0 auto 80px auto;
	text-align:center;
	font-size:100%;
	line-height:1.4;
}
.priceDiv h2{ border-radius:5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */  
	padding:15px;
	width:460px;
	text-align:center;
	color:#e40037;
	background:#dfdfdf;
	margin:15px auto;
	font-size:160%;
	line-height:1;
font-weight:500;
}
.priceSec{
	text-align:left;
	margin:0 0 10px;
}
.priceSec h3{
	text-align:left;
	background:url(../images/icon_price.gif) 0px 3px no-repeat;
	padding-left:18px;font-size:120%;
	line-height:1.5;
	
}
.txtNoteA{font-size:80%;
line-height:1.5;}
.txtNote{font-size:80%;
line-height:1.5;
text-align:right;}
.priceA{
width: 100%;
border-collapse: collapse;
margin-bottom:5px;
}
.priceA th{
width: 50%;
padding: 6px 20px ;
text-align: left;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
font-weight:normal;
}
.priceA td{
padding: 6px 20px ;
background-color: #fff;
border: 1px solid #b9b9b9;
}
