@charset "utf-8";
@import 'mixin';

.main_contents {
	font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;
	font-size: 16px;
    //width: 100%;
	@include break {
		font-size: 14px;
	}
	* {
		box-sizing: border-box; 
	}
      
}

.ov {
	@include transition;
	&:hover {
		opacity: .8;
	}
}

.pc {
	@include break {
		display: none;
	}
}
.sp {
	@include break2 {
		display: none;
	}
}



$color-green: #46c1be;
$color-red: #e40037;
section {
	max-width: 1060px;
	width: 100%;
	margin: 0 auto 80px auto;
	@include break {
		margin: 0 auto 58px;
	}
&.sec01 {
            margin: 0 auto 100px auto;
           text-align: center;
            @include break{width:100%;display: block;margin: 0 auto 30px auto;}
        .mv{
            background: none;
            margin: 0 0 60px 0;
            padding: 0;
             @include break{margin-bottom: 30px;
            }}
        
	}//_sec01
    &.sec02{
         /*display: flex;
            justify-content: center;*/
        width: 100%;
            margin: 0 auto;
           text-align: center;
            @include break{width:90%;display: block;}
        
        .ttlBar{
            display: block;
            width: 100%;
            text-align: center;
            margin: 0 auto ;
            background: #000;
            background-image: none;
            border-radius: 5px;
            padding: 15px 0;
            @include break{ padding: 10px 0 !important; }
                p{color: #fff;
                    font-size: 40px;
                    font-weight: bold;
                    @include break{ font-size: 22px;line-height: 1.2;}
            }
           
        }//ttlBar
		.hybrid{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 30px 0 40px 0;
            flex-wrap: wrap;
            @include break { margin: 20px 0 20px 0; display:block;}
                .hybridLeft{
                    width:50%;
                    margin-bottom: 20px;
                    font-size: 18px;
                    line-height: 1.9;
                    text-align: left;
				@include break {width:90%;
                    font-size: 16px;
                    line-height: 1.8;
					margin: 0 auto 14px auto;
				}
                    .mark1{
                          background: linear-gradient(transparent 0%, #f6ff5f 0%);
                        font-weight: bold;
                        }
                }//hybridLeft
            .hybridRight{
                    width:45%;
                    margin-bottom: 20px;
				@include break {width:100%;
					margin: 0 auto 14px auto;
				}
                }//hybridLeft
			
		
        }//hybrid
        .caseIntro{
            display: block;
            text-align: center;
            margin: 0 auto ;
            background-image: none;
            padding:  0;
            font-size: 38px;
            font-weight: bold;
            @include break{ font-size: 28px!important;padding:0 !important; }
           
        }//caseIntro
        .global{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 60px 0 0 0;
            flex-wrap: wrap;
            background: #f6f6f6;
            border-radius: 5px;
            padding: 50px 50px;
            @include break { margin: 40px 0 0 0;padding: 25px 7px 15px;}
            .ttl{width: 100%;font-size: 30px;font-weight: bold;margin-bottom: 20px;
                @include break {font-size: 18px;}
            }
                .globalLeft{
                    width:55%;
                    margin-bottom: 20px;
                    font-size: 16px;
                    line-height: 1.8;
                    text-align: left;
				@include break {width:90%;font-size: 14px;
					margin: 0 auto 14px auto;
				}
                    .mark2{font-weight: bold;}
                }//hybridLeft
            .globalRight{
                    width:40%;
                    margin-bottom: 20px;
				@include break {width:80%;
					margin: 0 auto 14px auto;
				}
                }//hybridLeft
			
		
        }//global
        

	}//_sec02
    &.sec03{margin-top: 50px;@include break {margin-top: 20px;}
        .companies{
          width: 100%;
          padding: 54px 28px 60px 28px;
         background: #f6f6f6;
          border-radius: 5px;
          @include break {width: 90%;margin: 0 auto;padding: 10px 10px 25px 10px;}
          >h2{
              font-size: 24px;
              font-weight: bold;
              text-align: center;
              background: url("/casestudies_r/images/casestudiesIndex/casestudy_h2_bg.gif") center bottom no-repeat;
              padding-bottom: 20px; 
              @include break {padding-bottom: 5px;padding-left: 0 !important; }
          }//h2
          #cmp{ 
              margin-top: 30px;
              border-radius: 5px;
                @include flex;
	            @include jc(flex-start);
	            @include ai(flex-start);
	            @include fw(wrap);
              @include break {padding-bottom: 10px; } 
              li{display: flex;  
                  background: #fff;
                  width: 32%;
                  margin-right: 2%;
                  margin-bottom: 12px;
                 @include break {width: 100%;  margin-bottom:20px;}
                  &:nth-child(3n){
                      margin-right: 0;
                  }
                  a
                  { text-decoration: none;
                   position: relative;
                  display: inline-block;
                      
                  &::after {
                  position: absolute;
                  bottom: -4px;
                  left: 0;
                  content: '';
                  width: 100%;
                  height: 5px;
                  background: $color-red;
                  transform: scale(0, 1);
                  transform-origin: right top;
                  transition: transform .3s;
                }
                      &:hover::after {
                      transform-origin: left top;
                      transform: scale(1, 1);
                    }
                      &:hover{
                          opacity:0.8 !important;
                      }
                  }//a
                  .pct {
                    @include break {position: relative;z-index: 10;}
                  img{border-radius:5px 5px 0 0 /5px 5px 0 0;
                      }}
                  
                  dl{position: relative;
                      z-index: 20;
                      padding: 10px 25px 25px 25px;
                      @include break {padding: 0 15px 10px 15px;margin-top: -30px;}
                      dt{
                          >h3{font-size: 16px;
                          font-weight: 800;
                          line-height: 1.5;
                          margin-bottom: 10px; @include break {font-size: 14px;background: #fff;padding: 20px 5px 0 5px;margin-bottom: 5px; }
                               &.smaller{font-size: 15px;line-height: 1.6;
                              @include break {font-size: 14px;background: #fff;padding: 20px 5px 0 5px;margin-bottom: 5px; }}
                          }
                      }//dt
                      dd{
                           .nameC{background: #efefef;border-radius: 3px;padding: 11px 7px;font-size: 14px;
                          margin-bottom: 10px;}
                          .nameP{font-size: 14px;span{font-size: 12px;}}   
                          }//dd
                  }//dd
                  
              }//li
          }//ul
          .allCaseBtn{ width: 200px;
                  margin: 20px auto 15px auto;
                  @include break {
		vertical-align: middle;
                      width: 50%;
                      margin: 10px auto 10px auto;}
                  a{ 
                      padding: 10px 0;
                      border:1px #000 solid;
                      border-radius: 30px;
                      text-align: center;
                      display: block;
                      font-weight: bold;
                      background: #f6f6f6;
                      text-decoration: none;
                      
                      @include break {font-size: 12px;
                       line-height:40px;
		              vertical-align: middle;padding: 0px 10px;}
                      &:hover{
                  background: #000;
                          color: #fff;
                          opacity: 10 !important;
                      }//now
                  }//a
              
          }
      }//comparies
    }//_sec03
    &.secCam{
        .cam{margin:100px auto 0px;
            background: #000;
            padding: 0 0 40px 0;
            @include break{width: 94%;
                margin:50px auto 0; padding: 0 0 20px 0 !important;}
            }
        .tel{margin: 10px auto 100px auto;
            @include break {margin: 8px auto 30px;width: 94%;}
        }
    }//_secCam
    
}//_section
//ページ下部CTA
.btnContact {
	width:900px;
	margin: 0 auto 30px auto;
	@include flex;
	@include jc(space-between);
	@include ai(flex-start);
	@include fw(wrap);
	@include break {
		display: block;
		width: 80%;
	}//__break

.tel{width: 48%;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 0.1em;
	@include break {
		width:100%;
	}//__break
	span{
	display: block;
	
	&.num{color: #e41d3a;
		font-size: 210%;
		line-height: 1.4;
	font-weight: bold;
	letter-spacing: 0.01em;
		&:before{
				 content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  width: 30px;/*画像の幅*/
  height:30px;/*画像の高さ*/
  background: url(/special/rentaloffice/img/common/tel_icon.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
					padding-left:5px;
				
			}
		}
	&.note{font-size: 76%;
			
		}
		}
	
	}//__tel
.link{width: 50%;
	margin: 0;
	@include break {
		margin-top: 15px;
		width:100%;
	}//__break
a{
	&.btn_con {
		text-align: center;
  position: relative;
  display: block;
  width: 100%;
 margin: 0 auto;
  padding: 18px 0;
  color: #fff;
		font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  background:#46c1be;
  border-radius: 60px;
  -webkit-border-radius: 60px;
	@include break {width:100%;
		font-size: 22px;
		line-height: 1.3;
		padding: 15px 40px;
		}
	&:before,&:after{
			content: "";
  position: absolute;
  top: 50%;
		}//__beforeAfter
&:before {
  right: 15px;
  width: 40px;
  height:40px;
  margin: -20px 0 0;
  background:#fff;
  border-radius: 60px;
  -webkit-border-radius:60px;
	@include break {
		 width: 36px;
  height:36px;
  margin: -18px 0 0;
	}
}
&:after {
  right: 28px;
  width: 13px;
  height: 13px;
  margin: -10px 0 0;
  border-top: solid 5px #46c1be;
  border-right: solid 5px #46c1be;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	@include break {
		right: 27px;
  width: 12px;
  height:12px;
  margin: -8px 0 0;
	}
}
}//_btn_con
}//_a
	}//_link
}

.linkRed{width: 50%;
	margin: 0 auto;
	@include break {
		margin-top: 15px;
		width:80%;
	   }//__break
   a{
	 &.btn_con {
		 text-align: center;
          position: relative;
          display: block;
          width: 100%;
          margin: 0 auto;
          padding: 18px 0;
          color: #fff;
		    font-size: 24px;
          font-weight: bold;
          text-decoration: none;
          background:#e00133;
          border-radius: 60px;
              -webkit-border-radius: 60px;
        @include break {width:100%;
            font-size: 18px;
            line-height: 1.3;
            padding: 15px 40px;
            }
            &:before,&:after{
                    content: "";
                   position: absolute;
                   top: 50%;
                }//__beforeAfter
            &:before {
              right: 15px;
              width: 40px;
              height:40px;
              margin: -20px 0 0;
              background:#fff;
              border-radius: 60px;
              -webkit-border-radius:60px;
                @include break {
                     width: 36px;
              height:36px;
              margin: -18px 0 0;
                }
            }
            &:after {
              right: 28px;
              width: 13px;
              height: 13px;
              margin: -10px 0 0;
              border-top: solid 5px #e00133;
              border-right: solid 5px #e00133;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
                @include break {
                    right: 27px;
              width: 12px;
              height:12px;
              margin: -8px 0 0;
                }
}
}//_btn_con
}//_a
	}//_link

.mgT50{
    margin-top: 50px;
    @include break { margin-top: 25px;}
}
