@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
.main_contents {
  font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;
  font-size: 16px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .main_contents {
      font-size: 14px; } }
  .main_contents * {
    box-sizing: border-box; }

.ov {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  .ov:hover {
    opacity: .8; }

@media screen and (max-width: 768px) {
  .pc {
    display: none; } }

@media screen and (min-width: 768px) {
  .sp {
    display: none; } }

h2.nsb {
  font-size: 40px;
  text-align: center;
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    h2.nsb {
      margin-bottom: 8px;
      font-size: 26px !important;
      line-height: 1.2; } }
  h2.nsb span {
    display: block;
    font-size: 24px;
    font-weight: inherit; }
    @media screen and (max-width: 768px) {
      h2.nsb span {
        font-size: 18px;
        line-height: 1.2; } }

p {
  line-height: 1.8; }
  @media screen and (max-width: 768px) {
    p {
      line-height: 1.5; } }

.btn {
  width: 100%;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .btn img {
      width: 90% !important; } }

.cntWrap {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: -webkit- space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: -webkit- flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .cntWrap .cntBox img {
    margin-bottom: 8px; }
  .cntWrap .cntBox p {
    line-height: 1.4; }

.mv {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto 80px;
  background: url(/special/nsb_img/rentaloffice/mv.jpg) no-repeat center center/cover;
  position: relative; }
  @media screen and (max-width: 768px) {
    .mv {
      margin: 5% auto 48px; } }
  .mv::after {
    content: '';
    display: block;
    padding-top: 34%; }
    @media screen and (max-width: 768px) {
      .mv::after {
        padding-top: 50%; } }
  .mv h1 {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 20px; }
    @media screen and (max-width: 768px) {
      .mv h1 {
        font-size: 22px;
        line-height: 1.3;
        bottom: 8px;
        right: 8px; } }

section {
  max-width: 1060px;
  width: 94%;
  margin: 0 auto 100px; }
  @media screen and (max-width: 768px) {
    section {
      margin: 0 auto 58px; } }
  section img {
    width: auto !important; }
  section.sec01 h2 {
    margin-bottom: 20px; }
  section.sec01 > p {
    max-width: 760px;
    width: 92%;
    margin: 0 auto;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      section.sec01 > p {
        margin-bottom: 16px; } }
  section.sec01 .btn {
    margin: 30px 0 100px; }
    @media screen and (max-width: 768px) {
      section.sec01 .btn {
        margin-bottom: 54px; } }
  section.sec01 .cntWrap > p {
    width: 47%; }
    @media screen and (max-width: 768px) {
      section.sec01 .cntWrap > p {
        width: 100%;
        margin-bottom: 8px; } }
  section.sec01 .cntWrap .left {
    width: 41%; }
    @media screen and (max-width: 768px) {
      section.sec01 .cntWrap .left {
        width: 100%;
        margin-bottom: 14px; } }
    section.sec01 .cntWrap .left h3 {
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: bold; }
      @media screen and (max-width: 768px) {
        section.sec01 .cntWrap .left h3 {
          width: 100%;
          margin-bottom: 6px;
          font-size: 18px; } }
  section.sec01 .cntWrap .right {
    width: 53%;
    padding: 0 2%;
    text-align: right; }
    @media screen and (max-width: 768px) {
      section.sec01 .cntWrap .right {
        width: 100%;
        text-align: center; } }
  section.sec02 h2 {
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      section.sec02 h2 {
        margin-bottom: 20px; } }
  section.sec02 .cntWrap {
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      section.sec02 .cntWrap {
        margin-bottom: 0; } }
    section.sec02 .cntWrap .cntBox {
      width: 30%;
      margin-bottom: 26px;
      text-align: center; }
      @media screen and (max-width: 768px) {
        section.sec02 .cntWrap .cntBox {
          width: 48%; }
          section.sec02 .cntWrap .cntBox:not(:nth-last-of-type(1)) {
            margin-bottom: 28px; } }
      section.sec02 .cntWrap .cntBox h3 {
        margin: 10px 0;
        font-size: 16px;
        font-weight: bold; }
        @media screen and (max-width: 768px) {
          section.sec02 .cntWrap .cntBox h3 {
            margin: 4px 0 8px; } }
      section.sec02 .cntWrap .cntBox p {
        font-weight: bold; }
        @media screen and (max-width: 768px) {
          section.sec02 .cntWrap .cntBox p {
            text-align: left; } }
  section.sec03 {
    margin: 0 auto 100px;
    padding: 0 5%;
    text-align: center; }
    @media screen and (max-width: 768px) {
      section.sec03 {
        margin: 0 auto 56px;
        padding: 0; } }
    section.sec03 h2 {
      margin-bottom: 50px; }
      @media screen and (max-width: 768px) {
        section.sec03 h2 {
          margin-bottom: 20px; } }
    section.sec03 h3 {
      width: 100%;
      font-size: 30px;
      font-weight: bold;
      position: relative; }
      @media screen and (max-width: 768px) {
        section.sec03 h3 {
          font-size: 22px; } }
      section.sec03 h3::after {
        content: '';
        display: block;
        width: 64px;
        height: 1px;
        background: #6d583a;
        position: absolute;
        bottom: -5px;
        left: calc(50% - 32px); }
    section.sec03 .brand {
      margin-bottom: 75px; }
      @media screen and (max-width: 768px) {
        section.sec03 .brand {
          margin-bottom: 56px; } }
      section.sec03 .brand h3 {
        margin-bottom: 45px; }
        @media screen and (max-width: 768px) {
          section.sec03 .brand h3 {
            margin-bottom: 20px; } }
      section.sec03 .brand a.serviceLink {
        display: block; }
        section.sec03 .brand a.serviceLink:hover {
          opacity: 0.5 !important;
          text-decoration: none !important; }
      section.sec03 .brand .cntWrap {
        -webkit-align-items: center;
        align-items: -webkit- center;
        align-items: center;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: solid 1px #e0e0e0; }
        section.sec03 .brand .cntWrap.lastLine {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none; }
        section.sec03 .brand .cntWrap .left {
          width: 55%; }
          @media screen and (max-width: 768px) {
            section.sec03 .brand .cntWrap .left {
              width: 100%;
              margin-bottom: 8px; } }
          section.sec03 .brand .cntWrap .left h4 {
            -js-display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: flex-start;
            justify-content: -webkit- flex-start;
            justify-content: flex-start;
            -webkit-align-items: center;
            align-items: -webkit- center;
            align-items: center;
            margin-bottom: 15px; }
            section.sec03 .brand .cntWrap .left h4 img {
              margin-right: 20px; }
          section.sec03 .brand .cntWrap .left p {
            text-align: left; }
        section.sec03 .brand .cntWrap .right {
          max-width: 370px;
          width: 42%; }
          @media screen and (max-width: 768px) {
            section.sec03 .brand .cntWrap .right {
              max-width: 100%;
              width: 100%; } }
    section.sec03 .type {
      margin-bottom: 32px; }
      section.sec03 .type h3 {
        margin-bottom: 65px; }
        @media screen and (max-width: 768px) {
          section.sec03 .type h3 {
            margin-bottom: 28px; } }
      section.sec03 .type .cntBox {
        max-width: 426px;
        width: 48%;
        margin-bottom: 40px;
        text-align: center; }
        @media screen and (max-width: 768px) {
          section.sec03 .type .cntBox {
            max-width: 100%;
            width: 100%;
            margin-bottom: 28px; } }
        section.sec03 .type .cntBox h4, section.sec03 .type .cntBox p {
          text-align: left; }
        section.sec03 .type .cntBox h4 {
          font-weight: bold; }
        section.sec03 .type .cntBox .btn {
          margin: 15px 0 0; }
          @media screen and (max-width: 768px) {
            section.sec03 .type .cntBox .btn {
              margin: 10px 0 0; } }
    section.sec03 .service > .left {
      width: 36%;
      text-align: left; }
      @media screen and (max-width: 768px) {
        section.sec03 .service > .left {
          width: 100%; } }
      section.sec03 .service > .left h3 {
        margin-bottom: 18px;
        font-size: 22px;
        font-weight: bold; }
        section.sec03 .service > .left h3::after {
          content: none; }
        @media screen and (max-width: 768px) {
          section.sec03 .service > .left h3 {
            text-align: center; } }
    section.sec03 .service > .right {
      width: 62%; }
      @media screen and (max-width: 768px) {
        section.sec03 .service > .right {
          width: 100%; } }
      @media screen and (max-width: 768px) {
        section.sec03 .service > .right .cntWrap {
          width: 90%;
          margin: 10px auto; } }
      section.sec03 .service > .right .cntWrap .cntBox {
        width: 25%;
        margin-bottom: 6px; }
        @media screen and (max-width: 768px) {
          section.sec03 .service > .right .cntWrap .cntBox {
            width: 30%; } }
        section.sec03 .service > .right .cntWrap .cntBox img {
          margin-bottom: 2px; }
          @media screen and (max-width: 768px) {
            section.sec03 .service > .right .cntWrap .cntBox img {
              width: 70% !important;
              height: auto; } }
        section.sec03 .service > .right .cntWrap .cntBox p {
          font-size: 14px;
          font-weight: bold; }
          @media screen and (max-width: 768px) {
            section.sec03 .service > .right .cntWrap .cntBox p {
              font-size: 12px; } }
      section.sec03 .service > .right .cntWrap > p {
        width: 75%;
        align-self: flex-end;
        text-align: right;
        font-size: 14px; }
        @media screen and (max-width: 768px) {
          section.sec03 .service > .right .cntWrap > p {
            width: 66%;
            font-size: 12px; } }
      section.sec03 .service > .right > p {
        margin: 30px 0;
        text-align: left; }
        @media screen and (max-width: 768px) {
          section.sec03 .service > .right > p {
            margin: 16px 0; } }
        section.sec03 .service > .right > p span {
          display: block;
          font-size: 14px; }
          @media screen and (max-width: 768px) {
            section.sec03 .service > .right > p span {
              font-size: 12px; } }
      section.sec03 .service > .right .more {
        text-align: left; }
        section.sec03 .service > .right .more .left {
          width: 19%; }
          @media screen and (max-width: 768px) {
            section.sec03 .service > .right .more .left {
              width: 100%;
              text-align: center;
              margin-bottom: 10px; } }
        section.sec03 .service > .right .more .right {
          width: 79%; }
          @media screen and (max-width: 768px) {
            section.sec03 .service > .right .more .right {
              width: 100%; } }
          section.sec03 .service > .right .more .right p a {
            color: #e40037; }
          section.sec03 .service > .right .more .right ul li {
            padding-left: 13px;
            position: relative; }
            @media screen and (max-width: 768px) {
              section.sec03 .service > .right .more .right ul li {
                padding-left: 10px; } }
            section.sec03 .service > .right .more .right ul li::after {
              content: '';
              display: block;
              width: 10px;
              height: 10px;
              border-radius: 5px;
              background-color: #e40037;
              position: absolute;
              top: 8px;
              left: 0; }
              @media screen and (max-width: 768px) {
                section.sec03 .service > .right .more .right ul li::after {
                  width: 8px;
                  height: 8px;
                  top: 6px; } }
  section.sec04 {
    padding: 0 4%; }
    section.sec04 h2 {
      margin-bottom: 30px; }
    section.sec04 dl {
      max-width: 760px;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 35px;
      text-align: left; }
      @media screen and (max-width: 768px) {
        section.sec04 dl {
          max-width: 100%;
          width: 100%;
          margin-bottom: 20px; } }
      section.sec04 dl dt {
        width: 180px; }
        @media screen and (max-width: 768px) {
          section.sec04 dl dt {
            width: 100%;
            margin-bottom: 8px; } }
        section.sec04 dl dt h3 {
          font-size: 24px;
          font-weight: bold;
          line-height: 1.4; }
          @media screen and (max-width: 768px) {
            section.sec04 dl dt h3 {
              text-align: center; } }
          section.sec04 dl dt h3 span {
            font-size: 18px;
            font-weight: inherit; }
      section.sec04 dl dd {
        max-width: calc(100% - 200px);
        width: 72%; }
        @media screen and (max-width: 768px) {
          section.sec04 dl dd {
            max-width: 100%;
            width: 100%; } }
    section.sec04 .cost {
      margin-bottom: 65px;
      text-align: center; }
      section.sec04 .cost .cntWrap > p {
        width: 100%;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold; }
      section.sec04 .cost .cntWrap .cntBox {
        width: 32%;
        margin-bottom: 20px; }
        @media screen and (max-width: 768px) {
          section.sec04 .cost .cntWrap .cntBox {
            width: 100%;
            margin-bottom: 12px; } }
      section.sec04 .cost .result span {
        display: block;
        font-size: 24px;
        /* border-bottom: solid 4px #a9a29a;*/ }
        @media screen and (max-width: 768px) {
          section.sec04 .cost .result span {
            font-size: 18px;
            /*border-bottom: solid 3px #a9a29a;*/ } }
    section.sec04 .speed {
      margin-bottom: 65px;
      text-align: center; }
      @media screen and (max-width: 768px) {
        section.sec04 .speed {
          margin-bottom: 30px; } }
    section.sec04 .flexibility {
      margin-bottom: 54px; }
      @media screen and (max-width: 768px) {
        section.sec04 .flexibility {
          margin-bottom: 32px; } }
      section.sec04 .flexibility .cntWrap .cntBox {
        max-width: 280px;
        width: 31%;
        text-align: center; }
        @media screen and (max-width: 768px) {
          section.sec04 .flexibility .cntWrap .cntBox {
            max-width: 100%;
            width: 100%;
            margin-bottom: 12px; } }
        section.sec04 .flexibility .cntWrap .cntBox p {
          font-size: 14px;
          font-weight: bold; }
          @media screen and (max-width: 768px) {
            section.sec04 .flexibility .cntWrap .cntBox p {
              font-size: 12px; } }

.wide {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto 95px;
  background: url(/special/nsb_img/rentaloffice/wide.jpg) no-repeat center center/cover; }
  @media screen and (max-width: 768px) {
    .wide {
      margin: 0 auto 46px; } }
  .wide::after {
    content: '';
    display: block;
    padding-top: 32.333%; }
    @media screen and (max-width: 768px) {
      .wide::after {
        padding-top: 42%; } }

/*↓230421----------------*/
.videoBox {
  max-width: 1060px;
  width: 94%;
  margin: 0 auto 95px;
  display: block; }
  @media screen and (max-width: 768px) {
    .videoBox {
      margin: 0 auto 46px; } }
  .videoBox video {
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    /*背景を黒で表示*/ }

/*↑230421----------------*/
/*anchor ナビ----------*/
.officeNav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  min-width: 769px;
  width: 70%;
  margin: 20px auto 40px;
  background: #454545;
  border-radius: 5px; }
  @media screen and (max-width: 768px) {
    .officeNav ul {
      width: 96%;
      min-width: auto; } }
  .officeNav ul li {
    width: 20%;
    text-align: center;
    position: relative;
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .officeNav ul li {
        text-align: center; } }
    .officeNav ul li:not(:nth-last-of-type(1)) a::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 26px;
      background-color: #747474;
      position: absolute;
      top: 30%;
      right: 0px; }
      @media screen and (max-width: 768px) {
        .officeNav ul li:not(:nth-last-of-type(1)) a::after {
          top: 10px;
          height: 30px; } }
    .officeNav ul li a {
      font-size: 16px;
      font-weight: bold;
      display: block;
      padding: 26px 0;
      color: #fff; }
      @media screen and (max-width: 768px) {
        .officeNav ul li a.of {
          padding: 6px 1px 2px; } }
      @media screen and (max-width: 768px) {
        .officeNav ul li a {
          font-size: 12px;
          padding: 16px 1px;
          text-align: center;
          vertical-align: middle; } }
      .officeNav ul li a:hover {
        background: #bdbdbd;
        color: #000;
        text-decoration: none;
        opacity: 1 !important;
        text-decoration: none; }
        @media screen and (max-width: 768px) {
          .officeNav ul li a:hover {
            background-color: #747474;
            color: #fff; } }

.ctaA {
  background: #ede3e2 url("/special/nsb_img/rentaloffice/cta_bg_a.jpg") bottom center;
  padding-bottom: 33px;
  margin: 55px 0 90px 0; }
  @media screen and (max-width: 768px) {
    .ctaA {
      background-image: none;
      background: #ede3e2 url("/special/nsb_img/rentaloffice/cta_bg_a_sp_01.jpg");
      background-position: center bottom;
      background-size: cover;
      padding: 0 3% 33px;
      margin: 30px 0 50px 0; } }
  .ctaA .find {
    display: block;
    font-size: 18px;
    line-height: 2;
    font-weight: 400;
    padding: 45px 0 67px 63px; }
    @media screen and (max-width: 1040px) {
      .ctaA .find {
        font-size: 1.5vw;
        padding: 50px 0 100px 20px; } }
    @media screen and (max-width: 768px) {
      .ctaA .find {
        margin: 20px auto;
        text-align: center;
        font-size: 16px;
        padding: 30px 0 15vw 0;
        margin-bottom: 51vw; } }

.ctaB {
  background: #f3e9e7 url("/special/nsb_img/rentaloffice/cta_bg_b.jpg") bottom center;
  padding-bottom: 30px;
  margin-top: 55px; }
  @media screen and (max-width: 768px) {
    .ctaB {
      background-color: #f3e9e7;
      background-image: url("/special/nsb_img/rentaloffice/cta_bg_b.jpg"), url("/special/nsb_img/rentaloffice/cta_bg_b_sp_01.jpg"), url("/special/nsb_img/rentaloffice/cta_bg_b_sp_02.jpg");
      background-position: top center,top center, right bottom;
      background-size: 0px 0px, 100% auto, 100% auto;
      background-repeat: no-repeat,no-repeat, no-repeat;
      padding: 0 3% 33px; } }
  .ctaB .call {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    padding: 33px 0 15px 0; }
    @media screen and (max-width: 768px) {
      .ctaB .call {
        text-align: center;
        font-size: 16px;
        margin: 0 0 4vw 0;
        padding: 37vw 0 0 0; } }

/*↓230421----------------*/
.link {
  max-width: 400px !important;
  margin: 0 auto !important; }
  @media screen and (max-width: 768px) {
    .link {
      margin-top: 15px;
      width: 100% !important; } }
  .link a {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 18px 0;
    color: #fff;
    font-size: clamp(16px, 1.5vw, 20px);
    font-weight: bold;
    text-decoration: none;
    background: #46c1be;
    border-radius: 5px !important;
    -webkit-border-radius: 60px; }
    @media screen and (max-width: 768px) {
      .link a {
        width: 100%;
        font-size: 16px !important;
        line-height: 1.3;
        padding: 20px 40px; } }
    .link a:before, .link a:after {
      content: "";
      position: absolute;
      top: 50%; }
    .link a:before {
      right: 15px;
      width: 32px;
      height: 32px;
      margin: -18px 0 0;
      background: #fff;
      border-radius: 50px;
      -webkit-border-radius: 50px; }
      @media screen and (max-width: 768px) {
        .link a:before {
          width: 28px;
          height: 28px;
          margin: -14px 0 0; } }
    .link a:after {
      right: 26px;
      width: 10px;
      height: 10px;
      margin: -10px 0 0;
      border-top: solid 5px #46c1be;
      border-right: solid 5px #46c1be;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
      @media screen and (max-width: 768px) {
        .link a:after {
          right: 25px;
          width: 8px;
          height: 8px;
          margin: -6px 0 0;
          border-top-width: 4px;
          border-right-width: 4px; } }
    .link a.btnRed {
      background: #e4002f; }
      .link a.btnRed:after {
        border-top: solid 5px #e4002f;
        border-right: solid 5px #e4002f; }
    .link a.btnBlue {
      background: #1383ec;
      margin: 10px 0 0; }
      @media screen and (max-width: 768px) {
        .link a.btnBlue {
          margin: 10px 0 0; } }
      .link a.btnBlue:after {
        border-top: solid 5px #1383ec;
        border-right: solid 5px #1383ec; }

/*↑230421----------------*/
.tel {
  width: 100%;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 34px; }
  @media screen and (max-width: 768px) {
    .tel {
      margin-top: 24px;
      width: 100%; } }
  .tel span {
    display: block; }
    .tel span.num {
      color: #e41d3a;
      font-size: 210%;
      line-height: 1.4;
      font-weight: bold;
      letter-spacing: 0.01em; }
      .tel span.num:before {
        content: '';
        /*何も入れない*/
        display: inline-block;
        /*忘れずに！*/
        width: 30px;
        /*画像の幅*/
        height: 30px;
        /*画像の高さ*/
        background: url(/special/rentaloffice/img/common/tel_icon.png) no-repeat;
        background-size: contain;
        vertical-align: middle;
        padding-left: 5px; }
    .tel span.note {
      font-size: 76%; }

.comparison {
  max-width: 970px;
  background-color: #7ad3c9;
  border-radius: 10px;
  padding: 50px 70px;
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (max-width: 750px) {
    .comparison {
      padding: 50px 4%; } }
  .comparison .line {
    width: 120px;
    background-color: #fff;
    height: 8px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 18px; }
    @media screen and (max-width: 750px) {
      .comparison .line {
        width: 90px;
        margin-top: 14px;
        height: 6px; } }
  .comparison .ttl {
    padding-bottom: 35px; }
    .comparison .ttl p {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      color: #fff; }
      @media screen and (max-width: 750px) {
        .comparison .ttl p {
          font-size: 18px; } }
      .comparison .ttl p span {
        color: #cd1122;
        font-size: 18px;
        font-weight: 700;
        padding: 0 10px; }
        @media screen and (max-width: 750px) {
          .comparison .ttl p span {
            font-size: 14px; } }
    .comparison .ttl h3 {
      font-size: 40px;
      text-align: center;
      font-weight: 700;
      color: #fff; }
      @media screen and (max-width: 750px) {
        .comparison .ttl h3 {
          font-size: 26px; } }
  .comparison .vs_box {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 750px) {
      .comparison .vs_box {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; } }
    .comparison .vs_box .off_box {
      max-width: 364px;
      width: 100%;
      display: flex;
      justify-content: center; }
      @media screen and (max-width: 750px) {
        .comparison .vs_box .off_box {
          max-width: 750px; }
          .comparison .vs_box .off_box img {
            width: 100%; } }
    .comparison .vs_box .vs {
      padding: 0 10px;
      width: 100%; }
      @media screen and (max-width: 750px) {
        .comparison .vs_box .vs {
          width: 5px;
          padding: 15px 0; } }
  .comparison .arrow {
    width: 100%;
    padding: 50px 0 40px 0; }
  .comparison .q_area h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #fff; }
    @media screen and (max-width: 750px) {
      .comparison .q_area h3 {
        font-size: 18px; } }
  .comparison .q_area .a1_box {
    background-image: url("/special/nsb_img/rentaloffice/Q1bg.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .comparison .q_area .b1_box {
    background-image: url("/special/nsb_img/rentaloffice/Q2bg.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .comparison .q_area .faq_box {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-shadow: 5px 5px 20px -10px #a1a1a1;
    margin-top: 30px; }
    @media screen and (max-width: 750px) {
      .comparison .q_area .faq_box {
        padding: 30px 20px 40px; } }
    .comparison .q_area .faq_box .ttl {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      padding: 40px 65px 35px 65px; }
      @media screen and (max-width: 750px) {
        .comparison .q_area .faq_box .ttl {
          justify-content: center;
          flex-direction: column;
          padding: 0 0 20px 0; } }
      .comparison .q_area .faq_box .ttl .icon {
        content: 'Q1';
        background-color: #cd1122;
        max-width: 55px;
        width: 100%;
        max-height: 55px;
        padding: 7px 0;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        margin-right: 10px; }
        @media screen and (max-width: 750px) {
          .comparison .q_area .faq_box .ttl .icon {
            margin-bottom: 20px;
            margin-right: 0;
            font-size: 20px;
            width: 45px;
            height: 45px; } }
    .comparison .q_area .faq_box .radio_box {
      display: flex;
      justify-content: center;
      max-width: 660px;
      margin: 0 auto 50px; }
      @media screen and (max-width: 750px) {
        .comparison .q_area .faq_box .radio_box {
          flex-wrap: wrap; } }
      .comparison .q_area .faq_box .radio_box input[type="radio"] {
        display: none; }
      .comparison .q_area .faq_box .radio_box label {
        display: inline-block;
        max-width: 222px;
        width: 100%;
        color: #000;
        background-color: #fff;
        padding: 20px 0 18px 0;
        text-align: center;
        border-radius: 80px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        box-shadow: 0 0 10px #cccccc; }
        @media screen and (max-width: 750px) {
          .comparison .q_area .faq_box .radio_box label {
            width: 90%;
            max-width: 750px;
            font-size: 16px; } }
        .comparison .q_area .faq_box .radio_box label:hover {
          background-color: #fff5f5;
          color: #cd1122;
          box-sizing: border-box !important;
          margin: -3px; }
        .comparison .q_area .faq_box .radio_box label span {
          font-size: 13px;
          line-height: 14px;
          font-weight: 500;
          color: #000; }
      .comparison .q_area .faq_box .radio_box input[type="radio"]:checked + label {
        background-color: #fff5f5;
        color: #cd1122;
        box-sizing: border-box;
        margin: -3px; }
        .comparison .q_area .faq_box .radio_box input[type="radio"]:checked + label:nth-last-child(-n+3) {
          margin-left: 17px; }
      .comparison .q_area .faq_box .radio_box .bills_img {
        display: flex;
        flex-direction: column;
        max-width: 222px;
        width: 100%; }
        .comparison .q_area .faq_box .radio_box .bills_img:nth-last-child(-n+2) {
          margin-left: 20px; }
          @media screen and (max-width: 750px) {
            .comparison .q_area .faq_box .radio_box .bills_img:nth-last-child(-n+2) {
              margin-left: 0;
              margin-top: 20px; } }
        @media screen and (max-width: 750px) {
          .comparison .q_area .faq_box .radio_box .bills_img {
            max-width: 750px;
            width: 100%; } }
        .comparison .q_area .faq_box .radio_box .bills_img label {
          display: inline-block;
          max-width: 222px;
          width: 100%;
          color: #000;
          background-color: #fff;
          padding: 20px 0 18px 0;
          text-align: center;
          border-radius: 50px;
          font-size: 20px;
          font-weight: 500;
          margin: 0 auto;
          box-shadow: 0 0 10px #cccccc;
          position: relative;
          /*&::before {
							content: "";
							position: absolute;
							right: 0;
							bottom: -17px;
							left: 0;
							width: 0px;
							height: 0px;
							margin: auto;
							border-style: solid;
							border-color: #fff transparent transparent transparent;
							border-width: 20px 15px 0 15px;
							border-radius: 2px;
							@include break(750) {
								bottom: -15px;
								border-width: 15px 13px 0 13px;
							}
						}*/ }
          @media screen and (max-width: 750px) {
            .comparison .q_area .faq_box .radio_box .bills_img label {
              width: 90%;
              max-width: 750px;
              font-size: 16px; } }
          .comparison .q_area .faq_box .radio_box .bills_img label:hover {
            background-color: #cd1122;
            background-blend-mode: soft-light;
            color: #fff;
            margin: -3px; }
            @media screen and (max-width: 750px) {
              .comparison .q_area .faq_box .radio_box .bills_img label:hover {
                margin: 0 auto; } }
            .comparison .q_area .faq_box .radio_box .bills_img label:hover span {
              color: #fff; }
          .comparison .q_area .faq_box .radio_box .bills_img label:hover::before {
            border-color: #cd1122 transparent transparent transparent; }
        .comparison .q_area .faq_box .radio_box .bills_img img {
          padding-top: 20px;
          margin: 0 auto; }
        .comparison .q_area .faq_box .radio_box .bills_img .a1_btn {
          background-image: url("/special/nsb_img/rentaloffice/bill01.png");
          background-color: rgba(255, 255, 255, 0.5);
          background-blend-mode: lighten; }
        .comparison .q_area .faq_box .radio_box .bills_img .a2_btn {
          background-image: url("/special/nsb_img/rentaloffice/bill02.png");
          background-color: rgba(255, 255, 255, 0.5);
          background-blend-mode: lighten; }
        .comparison .q_area .faq_box .radio_box .bills_img .a3_btn {
          background-image: url("/special/nsb_img/rentaloffice/bill03.png");
          background-color: rgba(255, 255, 255, 0.5);
          background-blend-mode: lighten; }
        .comparison .q_area .faq_box .radio_box .bills_img input[type="radio"]:checked + label {
          background-color: #cd1122;
          color: #fff;
          background-blend-mode: soft-light;
          margin: -3px; }
          @media screen and (max-width: 750px) {
            .comparison .q_area .faq_box .radio_box .bills_img input[type="radio"]:checked + label {
              margin: 0 auto; } }
          .comparison .q_area .faq_box .radio_box .bills_img input[type="radio"]:checked + label span {
            color: #fff; }
        .comparison .q_area .faq_box .radio_box .bills_img input[type="radio"]:checked + ::before {
          border-color: #cd1122 transparent transparent transparent; }
      .comparison .q_area .faq_box .radio_box .radio_img {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .comparison .q_area .faq_box .radio_box .radio_img:last-child {
          margin-left: 40px; }
          @media screen and (max-width: 750px) {
            .comparison .q_area .faq_box .radio_box .radio_img:last-child {
              margin-left: 0;
              padding-top: 30px; } }
        @media screen and (max-width: 750px) {
          .comparison .q_area .faq_box .radio_box .radio_img {
            width: 100%; } }
        .comparison .q_area .faq_box .radio_box .radio_img label {
          display: inline-block;
          max-width: 222px;
          width: 100%;
          color: #000;
          background-color: #fff;
          padding: 20px 0 18px 0;
          text-align: center;
          border-radius: 60px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          margin: 0 auto;
          box-shadow: 0 0 10px #cccccc;
          position: relative; }
          @media screen and (max-width: 750px) {
            .comparison .q_area .faq_box .radio_box .radio_img label {
              width: 90%;
              max-width: 750px;
              font-size: 16px; } }
          .comparison .q_area .faq_box .radio_box .radio_img label::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: -17px;
            left: 0;
            width: 0px;
            height: 0px;
            margin: auto;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
            border-width: 20px 15px 0 15px;
            border-radius: 2px; }
            @media screen and (max-width: 750px) {
              .comparison .q_area .faq_box .radio_box .radio_img label::before {
                bottom: -15px;
                border-width: 15px 13px 0 13px; } }
          .comparison .q_area .faq_box .radio_box .radio_img label:hover {
            background-color: #cd1122;
            color: #fff;
            margin: 0 auto; }
          .comparison .q_area .faq_box .radio_box .radio_img label:hover::before {
            border-color: #cd1122 transparent transparent transparent; }
        .comparison .q_area .faq_box .radio_box .radio_img img {
          padding-top: 20px;
          max-width: 220px;
          margin: 0 auto; }
        .comparison .q_area .faq_box .radio_box .radio_img input[type="radio"]:checked + label {
          background-color: #cd1122;
          color: #fff;
          margin: -3px; }
          @media screen and (max-width: 750px) {
            .comparison .q_area .faq_box .radio_box .radio_img input[type="radio"]:checked + label {
              margin: 0 auto; } }
        .comparison .q_area .faq_box .radio_box .radio_img input[type="radio"]:checked + ::before {
          border-color: #cd1122 transparent transparent transparent; }
    .comparison .q_area .faq_box .txt_box {
      max-width: 660px;
      margin: -30px auto 50px;
      font-size: 12px;
      line-height: 18px;
      background: #fff;
      padding: 10px 20px;
      border-radius: 3px;
      box-shadow: 5px 5px 20px -10px #a1a1a1; }
  .comparison .result_btnimg {
    display: flex;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding-top: 40px; }
    .comparison .result_btnimg img {
      width: 100%;
      margin: 0 auto; }
  .comparison .result_btn {
    background-color: #e00133;
    max-width: 450px;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding: 18px 0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 40px;
    border: none; }
    .comparison .result_btn:hover {
      text-decoration: none; }
    @media screen and (max-width: 750px) {
      .comparison .result_btn {
        font-size: 18px;
        padding: 12px 0; } }
    .comparison .result_btn img {
      position: absolute;
      right: 30px;
      top: 22%; }
      @media screen and (max-width: 750px) {
        .comparison .result_btn img {
          top: 18%;
          right: 20px;
          height: 30px; } }
  .comparison #a1b1, .comparison #a2b1, .comparison #a3b1, .comparison #a1b2, .comparison #a2b2, .comparison #a3b2 {
    display: none; }
  .comparison .result_area .ttl {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    color: #fff; }
    @media screen and (max-width: 750px) {
      .comparison .result_area .ttl {
        font-size: 24px; } }
  .comparison .result_area .line {
    margin-top: 0px;
    margin-bottom: 50px; }
    @media screen and (max-width: 750px) {
      .comparison .result_area .line {
        margin-bottom: 30px; } }
  .comparison .result_area .result_cnt {
    padding-top: 70px; }
    .comparison .result_area .result_cnt.pt_none {
      padding-top: 0; }
    .comparison .result_area .result_cnt .cost {
      max-width: 275px;
      width: 100%;
      margin: 0 auto;
      font-size: 22px;
      padding: 5px 0 3px 0;
      border: solid 1px #000;
      background: #f1f1f1;
      border-radius: 100px;
      font-weight: 500; }
      @media screen and (max-width: 750px) {
        .comparison .result_area .result_cnt .cost {
          font-size: 18px; } }
    @media screen and (max-width: 750px) {
      .comparison .result_area .result_cnt .s_table {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch; } }
    .comparison .result_area .result_cnt .s_table table {
      border: solid 1px #cecece;
      margin-top: 25px; }
      @media screen and (max-width: 750px) {
        .comparison .result_area .result_cnt .s_table table {
          width: 750px; } }
      .comparison .result_area .result_cnt .s_table table tr {
        width: 100%;
        text-align: center;
        font-weight: 500;
        background-color: #fff;
        border-bottom: solid 1px #cecece;
        display: flex; }
        .comparison .result_area .result_cnt .s_table table tr:last-child {
          border: 3px solid #cd1122; }
        .comparison .result_area .result_cnt .s_table table tr th {
          width: 24%;
          text-align: center;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .comparison .result_area .result_cnt .s_table table tr th.gray {
            background-color: #eeeeee; }
          @media screen and (max-width: 750px) {
            .comparison .result_area .result_cnt .s_table table tr th {
              font-size: 16px; } }
        .comparison .result_area .result_cnt .s_table table tr td {
          width: 38%;
          font-size: 22px;
          padding: 12px 0;
          font-weight: 700;
          border-left: solid 1px #cecece;
          display: flex;
          align-items: center;
          justify-content: center; }
          .comparison .result_area .result_cnt .s_table table tr td span {
            font-size: 18px; }
          .comparison .result_area .result_cnt .s_table table tr td.td_ttl {
            font-size: 18px;
            font-weight: 500; }
            @media screen and (max-width: 750px) {
              .comparison .result_area .result_cnt .s_table table tr td.td_ttl {
                font-size: 16px; } }
          .comparison .result_area .result_cnt .s_table table tr td.red_ttl {
            font-size: 18px;
            color: #fff;
            background-color: #cd1122;
            line-height: 1.2em;
            font-weight: 500; }
            @media screen and (max-width: 750px) {
              .comparison .result_area .result_cnt .s_table table tr td.red_ttl {
                font-size: 16px; } }
          .comparison .result_area .result_cnt .s_table table tr td.red {
            background-color: #fdf2f3;
            font-size: 28px; }
            .comparison .result_area .result_cnt .s_table table tr td.red span {
              font-size: 22px; }
            @media screen and (max-width: 750px) {
              .comparison .result_area .result_cnt .s_table table tr td.red {
                font-size: 22px; }
                .comparison .result_area .result_cnt .s_table table tr td.red span {
                  font-size: 18px; } }
          @media screen and (max-width: 750px) {
            .comparison .result_area .result_cnt .s_table table tr td {
              font-size: 18px; } }
    @media screen and (max-width: 750px) {
      .comparison .result_area .result_cnt .l_table {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch; } }
    .comparison .result_area .result_cnt .l_table table {
      border: solid 1px #cecece;
      margin-top: 25px; }
      @media screen and (max-width: 750px) {
        .comparison .result_area .result_cnt .l_table table {
          width: 750px; } }
      .comparison .result_area .result_cnt .l_table table tr {
        width: 100%;
        text-align: center;
        font-weight: 500;
        background-color: #fff;
        border-bottom: solid 1px #cecece;
        display: flex; }
        .comparison .result_area .result_cnt .l_table table tr:last-child {
          border: none; }
        .comparison .result_area .result_cnt .l_table table tr th {
          width: 18%;
          text-align: center;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .comparison .result_area .result_cnt .l_table table tr th.gray {
            background-color: #eeeeee; }
          @media screen and (max-width: 750px) {
            .comparison .result_area .result_cnt .l_table table tr th {
              font-size: 16px; } }
        .comparison .result_area .result_cnt .l_table table tr td {
          width: 42%;
          font-size: 17px;
          padding: 15px 0;
          font-weight: 700;
          border-left: solid 1px #cecece;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          line-height: 22px; }
          .comparison .result_area .result_cnt .l_table table tr td span {
            font-size: 12px; }
            .comparison .result_area .result_cnt .l_table table tr td span.red {
              display: contents;
              font-size: 17px;
              font-weight: bold;
              color: #e4002f; }
          .comparison .result_area .result_cnt .l_table table tr td.td_ttl {
            font-size: 18px;
            font-weight: 500; }
            @media screen and (max-width: 750px) {
              .comparison .result_area .result_cnt .l_table table tr td.td_ttl {
                font-size: 16px; } }
          .comparison .result_area .result_cnt .l_table table tr td.red_ttl {
            font-size: 18px;
            color: #fff;
            background-color: #cd1122;
            line-height: 1.2em;
            font-weight: 500; }
            @media screen and (max-width: 750px) {
              .comparison .result_area .result_cnt .l_table table tr td.red_ttl {
                font-size: 16px; } }
          .comparison .result_area .result_cnt .l_table table tr td.red {
            background-color: #fdf2f3; }
          @media screen and (max-width: 750px) {
            .comparison .result_area .result_cnt .l_table table tr td {
              font-size: 16px; } }
    .comparison .result_area .result_cnt .cost_down {
      width: 100%;
      padding-top: 15px;
      display: flex;
      flex-direction: column; }
      .comparison .result_area .result_cnt .cost_down img {
        max-width: 48px;
        margin: 0 auto;
        padding-bottom: 15px; }
      .comparison .result_area .result_cnt .cost_down.matome {
        padding: 10px 0;
        background-color: #fff;
        margin-top: 30px;
        display: none; }
        .comparison .result_area .result_cnt .cost_down.matome .down_box {
          padding: 0 20px; }
      .comparison .result_area .result_cnt .cost_down .down_box {
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        background-color: #fff;
        padding: 10px 20px; }
        @media screen and (max-width: 750px) {
          .comparison .result_area .result_cnt .cost_down .down_box {
            font-size: 20px; } }
        .comparison .result_area .result_cnt .cost_down .down_box span {
          color: #cd1122;
          font-size: 36px;
          font-weight: bold; }
          .comparison .result_area .result_cnt .cost_down .down_box span .yen {
            font-size: 30px; }
          @media screen and (max-width: 750px) {
            .comparison .result_area .result_cnt .cost_down .down_box span {
              font-size: 30px; }
              .comparison .result_area .result_cnt .cost_down .down_box span .yen {
                font-size: 24px; } }
  .comparison .result_area .cost_control {
    width: 100%;
    padding: 70px 0 0 0;
    display: none; }
    .comparison .result_area .cost_control .txt_box {
      border-top: solid 1px #cecece;
      padding: 50px 0 0 0; }
      @media screen and (max-width: 750px) {
        .comparison .result_area .cost_control .txt_box {
          padding-top: 30px; } }
      .comparison .result_area .cost_control .txt_box h3 {
        color: #cd1122;
        font-size: 24px;
        font-weight: bold;
        text-align: center; }
        @media screen and (max-width: 750px) {
          .comparison .result_area .cost_control .txt_box h3 {
            font-size: 20px; } }
      .comparison .result_area .cost_control .txt_box p {
        padding-top: 10px; }
    .comparison .result_area .cost_control .facility {
      display: flex;
      justify-content: space-between;
      padding-top: 40px; }
      @media screen and (max-width: 750px) {
        .comparison .result_area .cost_control .facility {
          flex-wrap: wrap;
          justify-content: center; } }
      .comparison .result_area .cost_control .facility .normal_o {
        width: 40%; }
        @media screen and (max-width: 750px) {
          .comparison .result_area .cost_control .facility .normal_o {
            width: 100%;
            max-width: 750px; } }
        .comparison .result_area .cost_control .facility .normal_o .ttl_s {
          font-size: 20px;
          font-weight: 500;
          text-align: center;
          max-width: 300px;
          margin: 0 auto;
          border: solid 1px #000;
          border-radius: 30px;
          padding: 5px 0 2px 0; }
          @media screen and (max-width: 750px) {
            .comparison .result_area .cost_control .facility .normal_o .ttl_s {
              font-size: 18px;
              max-width: 250px; } }
        .comparison .result_area .cost_control .facility .normal_o img {
          width: 100% !important;
          padding-top: 30px; }
          @media screen and (max-width: 750px) {
            .comparison .result_area .cost_control .facility .normal_o img {
              width: 80% !important;
              margin: 0 auto;
              display: block; } }
      .comparison .result_area .cost_control .facility .flexible_o {
        width: 50%; }
        @media screen and (max-width: 750px) {
          .comparison .result_area .cost_control .facility .flexible_o {
            width: 100%;
            padding-top: 40px; } }
        .comparison .result_area .cost_control .facility .flexible_o .ttl_s {
          font-size: 20px;
          font-weight: 500;
          color: #cd1122;
          text-align: center;
          max-width: 300px;
          margin: 0 auto;
          border: solid 1px #cd1122;
          border-radius: 30px;
          padding: 5px 0 2px 0; }
          @media screen and (max-width: 750px) {
            .comparison .result_area .cost_control .facility .flexible_o .ttl_s {
              font-size: 18px;
              max-width: 250px; } }
        .comparison .result_area .cost_control .facility .flexible_o img {
          width: 100% !important;
          padding-top: 30px; }
          @media screen and (max-width: 750px) {
            .comparison .result_area .cost_control .facility .flexible_o img {
              width: 80% !important;
              margin: 0 auto;
              display: block; } }
        .comparison .result_area .cost_control .facility .flexible_o .cnt_box {
          padding-top: 30px; }
          .comparison .result_area .cost_control .facility .flexible_o .cnt_box .share {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px; }
            @media screen and (max-width: 750px) {
              .comparison .result_area .cost_control .facility .flexible_o .cnt_box .share {
                font-size: 18px; } }
            .comparison .result_area .cost_control .facility .flexible_o .cnt_box .share img {
              padding-top: 5px;
              max-width: 25px; }
              @media screen and (max-width: 750px) {
                .comparison .result_area .cost_control .facility .flexible_o .cnt_box .share img {
                  max-width: 25px; } }
          .comparison .result_area .cost_control .facility .flexible_o .cnt_box ul {
            width: 100%;
            text-align: center;
            padding-top: 15px; }
            .comparison .result_area .cost_control .facility .flexible_o .cnt_box ul li {
              background-color: #cd1122;
              padding: 15px 0;
              margin-bottom: 10px;
              color: #fff;
              border-radius: 5px;
              font-size: 18px;
              font-weight: 500; }
              @media screen and (max-width: 750px) {
                .comparison .result_area .cost_control .facility .flexible_o .cnt_box ul li {
                  font-size: 16px;
                  width: 80%;
                  margin: 0 auto 10px auto; } }
  .comparison .result_area .contant_btn {
    width: 100%;
    text-align: center;
    padding-top: 35px; }
    .comparison .result_area .contant_btn .result_btn {
      margin-top: 35px; }

/*↓230421----------------*/
.gallery {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 130px auto; }
  @media screen and (max-width: 768px) {
    .gallery {
      max-width: auto;
      width: 100%;
      margin: 0 auto 60px; } }

.gallery h2.h_gallery {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .gallery h2.h_gallery {
      margin-bottom: 5px;
      font-size: 25px !important;
      padding: 0 !important; } }

.gallery .slider {
  width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .gallery .slider {
      width: 100%; } }
  .gallery .slider img {
    width: 100%;
    object-fit: cover;
    height: 100%; }
  .gallery .slider li .picture {
    width: 100%;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .gallery .slider li .picture {
        width: 100%; } }

/*---------slide----------*/
.slick-arrow {
  z-index: 2 !important; }

.slick-arrow::before {
  opacity: 1;
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0; }

.slick-next {
  right: 30px;
  width: 20px;
  height: 27px; }

.slick-next::before {
  background: url("/special/nsb_img/rentaloffice/arrow_r.png") no-repeat center !important;
  background-size: 40px !important; }

@media screen and (max-width: 768px) {
  .slick-next::before {
    background-size: 30px !important; } }

.slick-prev {
  left: 30px;
  width: 20px;
  height: 27px; }

.slick-prev::before {
  background: url("/special/nsb_img/rentaloffice/arrow_l.png") no-repeat center !important;
  background-size: 40px !important; }

@media screen and (max-width: 768px) {
  .slick-prev::before {
    background-size: 30px !important; } }

.slick-dots {
  bottom: -30px; }

.slick-dots li {
  width: 10px !important; }

.slick-dots li button::before {
  content: "";
  color: #ffffff;
  opacity: 1;
  display: inline-block;
  background-image: url("/special/nsb_img/rentaloffice/circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px; }

.slick-dots li.slick-active button:before {
  content: "";
  color: #ffffff;
  opacity: 1;
  display: inline-block;
  background-image: url("/special/nsb_img/rentaloffice/circle_act.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px; }

/*---------/slide----------*/
/*↑230421----------------*/
