@charset "Shift_JIS";

.clear {
    claer:both;
    height:0;
    margin:0;
    padding:0;
}

h1,h2 {
    background:none;
    border:none;
    text-indent:0;
    width:auto;
    height:auto;
    margin:0;
    padding:0;
    clear:none;
    font-weight:normal;
    color:black;
}
h3 {
    color:black;
    margin:15px 0;
    border:none;
}


.office-contents {
    /*
    border:1px solid red;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    */
    width:824px;
    margin:10px 11px;
}

h2 {
    margin:30px 0 10px 0;
    height:25px;
    background-image: url(/openoffice/news/media/images/title_bg01.gif);
    background-repeat: no-repeat;
    line-height: 25px;
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF;
    text-indent: 15px;
    background-color: #1C6DA5;
}
h2.first {
    margin-top:0;
}

.cg-images {
    width:100%;
    border-collapse: separate;
    border-spacing: 2px;
}
.cg-images td {
    text-align:center;
}
.cg-images-note {
    text-align:right;
    margin:0;
    font-size:0.9em;
    color:#444;
}

.office-types {
    width:100%;
    border-collapse: collapse;
}
.office-types th, .office-types td {
    border:2px solid #ACBFC4;
    padding:5px;
    text-align:center;
}
.office-types th {
    background-color:#EEF2F3;
    color:#3D5156;
    width:99%;
}
.office-types tr.photo th, .office-types tr.photo td {
    padding:0;
}

/*
.office-pictures {
    width:824px;
    margin:0;
    padding:0;
}
.office-pictures li {
    float:left;
    list-style:none;
    margin:0 0 0 34px;
    width:180px;
}
.office-pictures img {
}
.office-pictures li.first {
    margin-left:0;
}
*/

.office-contrast table {
    width:100%;
    border-collapse:collapse;
}
.office-contrast th, .office-contrast td {
    border:1px solid #aaa;
    text-align:center;
    vertical-align:middle;
    padding:5px;
    width:33%;
}
.office-contrast th {
    font-size:16px;
    background-color:#1C6DA5;
    color:white;
    font-weight:bold;
}
.office-contrast td {
}
.office-contrast tr.row1 td, .office-contrast tr.row3 td {
    background-color:#EAF6FF;
}
.office-contrast tr.row2 td {
    background-color:#F5FBFF;
}


.office-merit-outer {
    float:left;
    width:408px;
}
.office-merit {
    margin:10px 0;
    /*
    border:1px solid red;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    */
}
.office-merit dd {
    margin:0px 20px 10px 20px;
    padding:0;
    line-height:150%;
    font-size:1.1em;
}

.office-guide {
    /*margin:0 -14px;*/
    margin-left:416px;
    width:408px;
}
.office-guide .cell {
    margin:10px 0;
}

.office-guide .map {
    width:408px;
}
.office-guide .access {
    width:408px;

    /*
    border:1px solid red;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    */
}

.regus-merit, .office-services {
/*
    border:1px solid red;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
*/
}
.office-services {
    /* text-align:center; */
    width:824px;
    margin-bottom:20px;
}
.office-services table {
    width:100%;
}
.office-services td {
    padding:5px;
    width:33%;
}
.office-services p {
    margin:0 0 0 60px;
}
.office-services span {
    font-weight:bold;
    color:#1C6DA5;
}
.office-services img {
    float:left;
}

.regus-merit .col {
    width:32%;
    float:left;
    margin-left:10px;
}
.regus-merit .col.first {
    margin-left:0;
}

.office-floormap {
    margin-bottom:30px !important;
}

.office-catchtext {
    font-size:15px;
    line-height:150%;
    text-align: justify;
    padding-top:0.5em;
	padding-bottom:0.5em;
}

/* 価格表 */

.pricelist-table {
    width:24%;
    border-collapse:collapse;
    float:left;
    margin-right:1%;
}
.pricelist-table tr {
    cursor:pointer;
}
.pricelist-table th, .pricelist-table td {
    padding:2px;
    border:1px solid #ccc;
}
.pricelist-table th {
    text-align:center;
    background-color:#8c8c8c;
    color:white;
    font-size:0.9em;
    font-weight:normal;
}
.pricelist-table th.blank {
    width:5px;
    background-color:transparent;
}
.pricelist-table td.roomno {
    text-align:center;
    background-color:#eef2f3;
}
.pricelist-table td.price {
    text-align:right;
}
.pricelist-table tr.select td {
    background-color:#FFE084 !important;
}

#map_marker {
    position:absolute;
    width:100px;
    height:100px;
    background-image:url(../sendai/images/map_marker.png);
    z-index:2;
    margin-left:-50px;
    margin-top:-50px;
    pointer-events : none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
