#wrapper .ttl {
  padding-top: 50px;
  margin-bottom: 20px; }
  #wrapper .ttl h1 {
    background: url(/sp/openoffice/common/img/kv_bg_2.png) right center no-repeat, url(/sp/openoffice/common/img/kv_bg.gif) top center no-repeat;
    -webkit-background-size: contain, cover;
    -moz-background-size: contain, cover;
    -ms-background-size: contain, cover;
    background-size: contain, cover;
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #004c80;
    padding: 25px 5%;
    line-height: 1.4; }
    #wrapper .ttl h1 span {
      font-size: 17px;
      font-size: 1.7rem;
      font-weight: bold;
      color: #004c80; }
#wrapper .inner {
  padding: 0 3.5%; }
  #wrapper .inner h2.bl {
    display: inline-block;
    width: 100%;
    background: url(/sp/common/img/ttl_bl.gif) top left repeat-y #0097d6;
    -webkit-background-size: 450px;
    -moz-background-size: 450px;
    -ms-background-size: 450px;
    background-size: 450px;
    padding: 15px 3.5% 15px 6%;
    font-size: 14px;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px; }
    #wrapper .inner h2.bl + p {
      font-size: 12px;
      font-size: 1.2rem;
      margin-bottom: 20px; }
  #wrapper .inner .time_table .block {
    width: 100%;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: -webkit- space-between;
    justify-content: space-between;
    margin-bottom: 8px; }
    #wrapper .inner .time_table .block:first-child .time {
      border-top: 1px solid  #ccc; }
    #wrapper .inner .time_table .block:last-child {
      margin-bottom: 0; }
      #wrapper .inner .time_table .block:last-child .time:after {
        display: none; }
    #wrapper .inner .time_table .block .time {
      width: 60px;
      position: relative;
      padding: 19px 0; }
      #wrapper .inner .time_table .block .time:after {
        content: "";
        display: block;
        background: #ccc;
        height: 1px;
        width: 100%;
        bottom: -5px;
        left: 0;
        position: absolute; }
      #wrapper .inner .time_table .block .time p {
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center; }
        #wrapper .inner .time_table .block .time p span {
          font-size: 15px;
          font-size: 1.5rem;
          font-weight: bold;
          color: #0097d5;
          display: block; }
    #wrapper .inner .time_table .block .action {
      width: calc(100% - 60px - 3%);
      background: #f4f3f3;
      padding: 20px 5%; }
      #wrapper .inner .time_table .block .action p {
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 1.6; }
        #wrapper .inner .time_table .block .action p.note {
          color: #ff0000; }
      #wrapper .inner .time_table .block .action h3 {
        margin: 20px 0 15px;
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        font-size: 1.2rem;
        padding: 5px 8px;
        background: #0097d5; }
      #wrapper .inner .time_table .block .action .img {
        width: 80%;
        margin: 0 auto 10px; }
        #wrapper .inner .time_table .block .action .img img {
          width: 100%; }

.page-top {
  display: none; }

/*# sourceMappingURL=layout.css.map */
