@charset "UTF-8";
.main_contents {
  font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    .main_contents {
      font-size: 14px; } }
  .main_contents * {
    box-sizing: border-box; }

.ov {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  .ov:hover {
    opacity: .8; }

@media screen and (max-width: 768px) {
  .pc {
    display: none; } }

@media screen and (min-width: 768px) {
  .sp {
    display: none; } }

section {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto 80px auto; }
  @media screen and (max-width: 768px) {
    section {
      margin: 0 auto 58px; } }
  section.sec01 {
    margin: 0 auto 100px auto;
    text-align: center; }
    @media screen and (max-width: 768px) {
      section.sec01 {
        width: 100%;
        display: block;
        margin: 0 auto 30px auto; } }
    section.sec01 .mv {
      width: 100%;
      padding: 35px 0;
      margin-bottom: 40px;
      background: #00b4de; }
      @media screen and (max-width: 768px) {
        section.sec01 .mv {
          padding: 10px 0;
          margin-bottom: 20px; }
          section.sec01 .mv img {
            width: 70%; } }
    section.sec01 .mainV {
      text-align: center;
      margin: 0 auto 80px auto; }
      @media screen and (max-width: 768px) {
        section.sec01 .mainV {
          width: 90%;
          margin: 0 auto 30px; } }
    section.sec01 .woltIs {
      margin: 80px auto 40px;
      width: 70%;
      display: flex;
      justify-content: space-around; }
      @media screen and (max-width: 768px) {
        section.sec01 .woltIs {
          margin: 40px auto 15px;
          display: block;
          width: 90%; } }
      section.sec01 .woltIs .woLef {
        width: 40%; }
        @media screen and (max-width: 768px) {
          section.sec01 .woltIs .woLef {
            width: 60%;
            margin: 0 auto 10px; } }
      section.sec01 .woltIs .woRight {
        width: 55%;
        text-align: left; }
        @media screen and (max-width: 768px) {
          section.sec01 .woltIs .woRight {
            width: 100%;
            text-align: center; } }
        section.sec01 .woltIs .woRight .logo {
          width: 150px;
          margin: 0px 0 20px; }
          @media screen and (max-width: 768px) {
            section.sec01 .woltIs .woRight .logo {
              width: 40%;
              margin: 0px auto 10px; } }
        section.sec01 .woltIs .woRight > p {
          font-weight: bold;
          text-align: left; }
          @media screen and (max-width: 768px) {
            section.sec01 .woltIs .woRight > p {
              text-align: left;
              margin: 0 auto;
              width: 100%; } }
    section.sec01 .cam {
      margin: 0 auto 70px; }
      @media screen and (max-width: 768px) {
        section.sec01 .cam {
          margin: 0px auto 30px;
          width: 94%; } }
  section.sec02 {
    /*display: flex;
       justify-content: center;*/
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    @media screen and (max-width: 768px) {
      section.sec02 {
        width: 90%;
        display: block; } }
    section.sec02 .tel {
      margin: 40px auto 100px auto; }
      @media screen and (max-width: 768px) {
        section.sec02 .tel {
          margin: 20px auto 50px auto; } }

.linkRed {
  width: 50%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .linkRed {
      margin-top: 15px;
      width: 80%; } }
  .linkRed a.btn_con {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 18px 0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    background: #e00133;
    border-radius: 60px;
    -webkit-border-radius: 60px; }
    @media screen and (max-width: 768px) {
      .linkRed a.btn_con {
        width: 100%;
        font-size: 22px;
        line-height: 1.3;
        padding: 15px 40px; } }
    .linkRed a.btn_con:before, .linkRed a.btn_con:after {
      content: "";
      position: absolute;
      top: 50%; }
    .linkRed a.btn_con:before {
      right: 15px;
      width: 40px;
      height: 40px;
      margin: -20px 0 0;
      background: #fff;
      border-radius: 60px;
      -webkit-border-radius: 60px; }
      @media screen and (max-width: 768px) {
        .linkRed a.btn_con:before {
          width: 36px;
          height: 36px;
          margin: -18px 0 0; } }
    .linkRed a.btn_con:after {
      right: 28px;
      width: 13px;
      height: 13px;
      margin: -10px 0 0;
      border-top: solid 5px #e00133;
      border-right: solid 5px #e00133;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
      @media screen and (max-width: 768px) {
        .linkRed a.btn_con:after {
          right: 27px;
          width: 12px;
          height: 12px;
          margin: -8px 0 0; } }

.kv .inner {
  max-width: 850px;
  margin: 50px auto;
  width: 100%; }
  .kv .inner .ttl_area {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .kv .inner .ttl_area {
        display: block;
        padding: 0 5%; } }
    .kv .inner .ttl_area .spaces_logo {
      width: 30%; }
      @media screen and (max-width: 768px) {
        .kv .inner .ttl_area .spaces_logo {
          width: 50%;
          margin: 0 auto; } }
      .kv .inner .ttl_area .spaces_logo img {
        width: 100%; }
    .kv .inner .ttl_area p {
      margin-left: 90px;
      width: 70%; }
      @media screen and (max-width: 768px) {
        .kv .inner .ttl_area p {
          margin-top: 30px;
          margin-left: 0;
          width: 100%; } }

.office {
  background: #f2f2f2; }
  .office .inner {
    display: flex;
    justify-content: space-between;
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0; }
    @media screen and (max-width: 1420px) {
      .office .inner {
        width: 95%; } }
    @media screen and (max-width: 1200px) {
      .office .inner {
        width: 100%; } }
    .office .inner .office_area {
      width: 77%; }
      @media screen and (max-width: 1200px) {
        .office .inner .office_area {
          width: 93%;
          margin: 0 auto; } }
      @media screen and (max-width: 768px) {
        .office .inner .office_area {
          width: 100%;
          margin: 0 auto; } }
      .office .inner .office_area .office_box {
        background: #fff;
        display: flex;
        border-radius: 3px;
        justify-content: space-between;
        margin-top: 40px; }
        @media screen and (max-width: 768px) {
          .office .inner .office_area .office_box {
            display: block;
            margin-top: 30px;
            padding: 30px 5%; } }
        .office .inner .office_area .office_box:first-child {
          margin-top: 0; }
        .office .inner .office_area .office_box .slider {
          width: 50%;
          height: 100%; }
          @media screen and (max-width: 768px) {
            .office .inner .office_area .office_box .slider {
              width: 100%; } }
          .office .inner .office_area .office_box .slider img {
            width: 100%;
            height: 590px;
            object-fit: cover; }
            @media screen and (max-width: 768px) {
              .office .inner .office_area .office_box .slider img {
                height: 60vw; } }
        .office .inner .office_area .office_box .txt_box {
          width: 50%;
          padding: 40px 25px; }
          @media screen and (max-width: 768px) {
            .office .inner .office_area .office_box .txt_box {
              width: 100%;
              padding: 20px 0 0; } }
          .office .inner .office_area .office_box .txt_box .txt {
            padding: 15px 0;
            border-top: 1px solid #e5e5e5;
            height: auto !important; }
            .office .inner .office_area .office_box .txt_box .txt:first-child {
              margin: 0 0 30px 0;
              padding: 0;
              border-top: none; }
              @media screen and (max-width: 768px) {
                .office .inner .office_area .office_box .txt_box .txt:first-child {
                  margin: 0 0 20px 0; } }
            .office .inner .office_area .office_box .txt_box .txt:nth-child(2) p {
              padding-left: 1em;
              text-indent: -1em; }
            @media screen and (max-width: 768px) {
              .office .inner .office_area .office_box .txt_box .txt {
                padding: 10px 0; } }
            .office .inner .office_area .office_box .txt_box .txt .ttl {
              font-size: 24px; }
              @media screen and (max-width: 768px) {
                .office .inner .office_area .office_box .txt_box .txt .ttl {
                  font-size: 22px; } }
            .office .inner .office_area .office_box .txt_box .txt p {
              font-size: 13px;
              line-height: 20px; }
              .office .inner .office_area .office_box .txt_box .txt p b {
                font-weight: bold; }
            .office .inner .office_area .office_box .txt_box .txt .access {
              display: flex;
              justify-content: space-between;
              width: 100%;
              font-size: 13px;
              line-height: 20px; }
              @media screen and (max-width: 768px) {
                .office .inner .office_area .office_box .txt_box .txt .access {
                  display: block; } }
              .office .inner .office_area .office_box .txt_box .txt .access .l_txt {
                width: 87%;
                position: relative;
                padding-left: 25px; }
                @media screen and (max-width: 768px) {
                  .office .inner .office_area .office_box .txt_box .txt .access .l_txt {
                    width: auto; } }
                .office .inner .office_area .office_box .txt_box .txt .access .l_txt::before {
                  position: absolute;
                  top: -8px;
                  left: -5px;
                  content: url("../images/train_icon.png");
                  display: inline-block;
                  vertical-align: middle;
                  transform: scale(0.5); }
                .office .inner .office_area .office_box .txt_box .txt .access .l_txt.bus::before {
                  position: absolute;
                  top: -8px;
                  left: -8px;
                  content: url("../images/bus_icon.png");
                  display: inline-block;
                  vertical-align: middle;
                  transform: scale(0.54); }
                .office .inner .office_area .office_box .txt_box .txt .access .l_txt.walk::before {
                  position: absolute;
                  top: -13px;
                  left: -5px;
                  content: url("../images/walk_icon.png");
                  display: inline-block;
                  vertical-align: middle;
                  transform: scale(0.4); }
              .office .inner .office_area .office_box .txt_box .txt .access .r_txt {
                width: 13%;
                text-align: right; }
                @media screen and (max-width: 768px) {
                  .office .inner .office_area .office_box .txt_box .txt .access .r_txt {
                    width: auto;
                    text-align: left;
                    padding-left: 25px; }
                    .office .inner .office_area .office_box .txt_box .txt .access .r_txt:first-child {
                      margin-bottom: 15px; } }
          .office .inner .office_area .office_box .txt_box .btn_box {
            text-align: right;
            margin-top: 20px; }
            @media screen and (max-width: 768px) {
              .office .inner .office_area .office_box .txt_box .btn_box {
                text-align: center; } }
            .office .inner .office_area .office_box .txt_box .btn_box p {
              font-size: 16px;
              background: #e4b23a;
              border-radius: 30px;
              display: inline-block;
              padding: 13px 65px;
              position: relative; }
              @media screen and (max-width: 768px) {
                .office .inner .office_area .office_box .txt_box .btn_box p {
                  padding: 15px 80px; } }
              .office .inner .office_area .office_box .txt_box .btn_box p::before {
                content: "";
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 20px;
                width: 8px;
                height: 8px;
                border-top: 2px solid #000;
                border-right: 2px solid #000;
                transform: rotate(45deg); }

/*---------slide----------*/
.slick-arrow {
  z-index: 2 !important; }
  .slick-arrow::before {
    opacity: 1;
    content: "" !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0; }

.slick-next {
  right: 30px;
  width: 20px;
  height: 27px; }
  .slick-next::before {
    background: url("../images/arrow_r.png") !important;
    background-size: 20px !important; }

.slick-prev {
  left: 30px;
  width: 20px;
  height: 27px; }
  .slick-prev::before {
    background: url("../images/arrow_l.png") !important;
    background-size: 20px !important; }

.slick-dots {
  bottom: 10px; }
  .slick-dots li {
    width: 10px !important; }
    .slick-dots li button::before {
      content: '';
      color: #ffffff;
      opacity: 1;
      display: inline-block;
      background-image: url("../images/circle.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 10px;
      height: 10px; }
    .slick-dots li.slick-active button:before {
      content: '';
      color: #ffffff;
      opacity: 1;
      display: inline-block;
      background-image: url("../images/circle_act.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 10px;
      height: 10px; }

/*---------/slide----------*/
