@charset "utf-8";
@import 'mixin';


.main_contents {
	font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;
	font-size: 16px;
	@include break {
		font-size: 14px;
	}
	* {
		box-sizing: border-box;
	}
}

.ov {
	@include transition;
	&:hover {
		opacity: .8;
	}
}

.pc {
	@include break {
		display: none;
	}
}
.sp {
	@include break2 {
		display: none;
	}
}


p {
	line-height: 1.8;
	@include break {
		line-height: 1.5;
	}
}

.btn {
	width: 100%;
	text-align: center;
}


.cntWrap {
	@include flex;
	@include jc(space-between);
	@include ai(flex-start);
	@include fw(wrap);
	.cntBox {
		img {
			margin-bottom: 8px;
		}
		p {
			line-height: 1.4;
		}
	}
}


.mv {
	max-width: 1060px;
	width: 100%;
	margin: 0 auto 60px;
	background: url(/application_n/images/companyCE/mv_custumize.jpg) no-repeat center center / cover;
	position: relative;
	@include break {
		margin: 5% auto 30px;
	}
	&.exclusively{background: url(/application_n/images/companyCE/mv_exclusively.jpg) no-repeat center center / cover;}
	&:after {
		content: '';
		display: block;
		padding-top: 34%;
		@include break {
			padding-top: 50%;
		}
	}
	h1.mvv{
		font-size: 26px;
		line-height: 1.3;
		font-weight: bold;
		color: #fff;
		position: absolute;
		bottom: 20px;
		left: 20px;
		@include break {
			font-size: 18px;
			line-height: 1.3;
			bottom: 8px;
			left: 8px;
		}
		span{
			display: block;
			font-size: 18px;
			line-height: 1.5;
			@include break {font-size: 14px;}
		}
	}
}

section {
	max-width: 900px;
	width: 94%;
	margin: 0 auto 89px;
	@include break {
		margin: 0 auto 30px;
	}
	&.sec01 {
		
h2.com{
	margin-bottom: 10px;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	@include break {
		margin-bottom: 8px;
		font-size: 28px;
		line-height: 1.2;
	}
	span {
		display: block;
		font-size: 30px;
		font-weight: inherit;
		@include break {
			font-size:18px;
			line-height: 1.4;
		}
	}
}
		.belowtxt {
			max-width: 760px;
			width: 92%;
			margin: 0 auto;
			margin-bottom: 30px;
			@include break {
				margin-bottom: 16px;
			}
			p{
				margin-bottom: 15px;
			}
		}
		.options{
			max-width: 760px;
			margin: 84px auto 47px auto;
			@include break {margin: 40px auto 30px auto;}
			h3.com1{
				font-size: 20px;
				line-height: 1.6;
				text-align: center;
				font-weight: bold;
				margin-bottom: 40px;
				@include break {
				text-align: left;
					font-size: 16px;
				margin-bottom: 16px;
			}
				
			}//__h3
			ul.comLi{list-style-type:none;
				margin: 0 10px;
				li{
					background-image:url("/application_n/images/companyCE/custumize_list_icon.gif");
background-repeat:no-repeat;
background-position:0px 4px;
					padding-left:25px;
					margin-bottom:20px;
					@include break {padding-left:15px;margin-bottom:15px;}
				}
			}
			
		}//__options
		.cntWrap {
			
			margin-bottom: 100px;
			@include break {
				margin-bottom: 30px;
			}
			.cntBox {
				width:49.8%;
				text-align: center;
				@include break {
					width:49.7%;
			
				}}
		}//_cntWrap
		
	}//_sec01
	&.sec03 {
		.picAll{
			position: relative;
			.picLogo{position: absolute;
				left: -15px;
				bottom: 30px;
				z-index: 9999;
				@include break {
					left: 0;
					bottom: 0px;
					position: relative;
					margin: 20px auto;
					width: 50%;}
			
			}//__picLogo
			.picL{text-align:left;margin-bottom: 3px;@include break {;margin-bottom: 1px;}}
		.picR{text-align: right;margin-bottom:3px;@include break {;margin-bottom: 1px;}}
		}//__picAll


	}//_sec02
}//_section



