@charset "utf-8";
@import 'mixin';
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

.main_contents {
	font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;
	font-size: 16px;
	@include break {
		font-size: 14px;
	}
	* {
		box-sizing: border-box;
	}
}

.ov {
	@include transition;
	&:hover {
		opacity: .8;
	}
}

.pc {
	@include break {
		display: none;
	}
}
.sp {
	@include break2 {
		display: none;
	}
}




.btn {
	width: 100%;
	text-align: center;
}


.cntWrap {
	@include flex;
	@include jc(space-between);
	@include ai(flex-start);
	@include fw(wrap);
    p {
	line-height: 1.8;
	@include break {
		line-height: 1.5;
	}
}
	.cntBox {
		img {
			margin-bottom: 8px;
		}
		p {
			line-height: 1.4;
		}
	}
}


.mv {
	max-width: 1060px;
	width: 100%;
	margin: 0 auto;
	background: url(/application_n/images/index/mv.jpg) no-repeat center center/cover;
	position: relative;
	@include break {
		margin: 5% auto 0 auto;
	}
	&.soho{background: url(/application_n/images/index/mv_soho.jpg) no-repeat center center/cover;}
	&::after {
		content: '';
		display: block;
		padding-top: 34%;
		@include break {
			padding-top: 50%;
		}
	}
	h1 {
		font-size: 26px;
		font-weight: bold;
		color: #fff;
		position: absolute;
		bottom: 20px;
		left: 20px;
		@include break {
			font-size: 22px;
			line-height: 1.3;
			bottom: 8px;
			left: 8px;
		}
	}
}

section {
	width: 1060px;
	
	margin: 0 auto;
	@include break {width: 100%;
		margin: 0 auto 30px;
	}
	&.sec01 {
		margin-bottom: 70px;
		.goLink{
			margin: 0 auto;
			width: 90%;
			min-width: 900px;
			@include break {
				
				width: 90%;
				min-width:0;
				margin: 0 auto 30px auto;
			}
			
	 	  h2.index {
            display: block;
            width: 100%;
			text-align: center;
			font-size: 34px;
          line-height: 1.1;
          color: #767676;
			font-weight: bold;
			margin: 50px auto 30px auto;
			@include break {
				font-size: 20px;line-height: 1.4;
				margin: 30px auto 15px auto;
                text-align: left;
			}
			span {
		display: block;
		font-size: 24px;
		font-weight: inherit;
		@include break {
			font-size: 16px;
		}
	}
			}
         h3.index {
			text-align: center;
             font-size: 28px;
          line-height: 1.1;
          color: #000;
			font-weight: bold;
             display: block;
			margin: 50px auto 30px auto;
			@include break {
				font-size: 22px;line-height: 1.4;
				margin: 30px auto 8px auto;
			}
			
			}

            

.indexList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &.tw0Raw{ justify-content:center;@include  breakMini{ justify-content: space-between;}}
    li{
      width: 32.6%;
      height: 280px;
  cursor: pointer;
  overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    @include  breakMini{width: 88%;
        height: 180px;
        margin: 8px auto;
        }
        &.mgR{margin-right: 10px;@include  breakMini{margin-right: auto;}}
        
    .pageName {
    position: absolute;
	pointer-events: none;
	bottom:0;
	width:100%;
    margin: 0 auto;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.8);
	z-index:1;
    text-align: center;
    
         p{ display: inline-block;
            text-align: left;color: #fff;font-size: 20px;font-weight: bold;line-height: 1.1;
            span.aa{font-size: 16px;line-height: 1.5;display: inline;}
            }//span
        @include  breakMini{padding: 8px 0;}
        &:hover, &:focus{transform: none;display: block;}
       
    }
    .indxListC {
        
      width: 100%;
      height: 400px;
      background-color: black; /* fallback color */
     
      background-position: center top;
      background-size: contain;
        transition: all .5s;
       &.img01{background-image: url("/application_n/images/index/application_top_link_01.jpg");@include  breakMini{background-position: center -60px;}}
         &.img02{background-image: url("/application_n/images/index/application_top_link_02.jpg");@include  breakMini{background-position: center -80px;}}
         &.img03{background-image: url("/application_n/images/index/application_top_link_03.jpg");@include  breakMini{background-position: center -80px;}}
         &.img04{background-image: url("/application_n/images/index/application_top_link_04.jpg");@include  breakMini{background-position: center -80px;}}
        &.img05{background-image: url("/application_n/images/index/application_top_link_05.jpg");}
        &.img06{background-image: url("/application_n/images/index/application_top_link_06.jpg");@include  breakMini{background-position: center -80px;}} 
        
        
        }//indxListC
    
   &:hover .indxListC,
   &:focus .indxListC {
  transform: scale(1.2);
   } //hover

    }//indexListP
    
}//indexList
		
		}//_goLink
	}//_sec01
	
	
	
}//_section
