@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
.ov {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  .ov:hover {
    opacity: .8; }

@media screen and (max-width: 768px) {
  .pc {
    display: none; } }

@media screen and (min-width: 768px) {
  .sp {
    display: none; } }

.main_contents {
  font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    .main_contents {
      font-size: 14px; } }
  .main_contents * {
    box-sizing: border-box; }
  .main_contents p {
    line-height: 1.8;
    font-feature-settings: "pkna"; }
    @media screen and (max-width: 768px) {
      .main_contents p {
        line-height: 1.5; } }
  .main_contents section {
    max-width: 770px;
    width: 98%;
    margin: 0 auto 80px auto; }
    @media screen and (max-width: 768px) {
      .main_contents section {
        width: 96%;
        margin: 0 auto 58px; } }
    .main_contents section img {
      width: 100%; }
    .main_contents section.sec01 {
      /*display: flex;
         justify-content: center;*/
      margin: 0 auto 50px auto;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .main_contents section.sec01 {
          width: 96%;
          display: block;
          margin: 0 auto 30px auto; } }
    .main_contents section.sec02 {
      /*display: flex;
         justify-content: center;*/
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .main_contents section.sec02 {
          width: 96%;
          display: block; } }
      .main_contents section.sec02 .ttlBar {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        background: #000;
        flex-wrap: wrap; }
        .main_contents section.sec02 .ttlBar img {
          width: 50%; }
          @media screen and (max-width: 768px) {
            .main_contents section.sec02 .ttlBar img {
              width: 80%; } }
      .main_contents section.sec02 ul.office {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0 0;
        flex-wrap: wrap; }
        @media screen and (max-width: 768px) {
          .main_contents section.sec02 ul.office {
            margin: 10px 0 0 0; } }
        .main_contents section.sec02 ul.office li {
          width: 33%;
          margin-bottom: 20px; }
          @media screen and (max-width: 768px) {
            .main_contents section.sec02 ul.office li {
              width: 47%;
              margin-bottom: 14px; } }
          .main_contents section.sec02 ul.office li:last-child {
            margin-bottom: 0; }
  .main_contents .btn {
    max-width: 620px;
    margin: 40px auto 0 auto;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .main_contents .btn {
        margin-top: 30px;
        width: 90%; } }
    .main_contents .btn img {
      width: 100%; }
  .main_contents .telephone {
    width: 100%;
    margin: 30px auto 30px auto;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .main_contents .telephone {
        display: block;
        margin: 20px auto 30px auto;
        width: 90%; } }
    .main_contents .telephone .tel {
      width: 48%;
      margin: 0 auto 5px auto;
      font-size: 124%;
      font-weight: bold;
      letter-spacing: 0.1em; }
      @media screen and (max-width: 768px) {
        .main_contents .telephone .tel {
          width: 100%; } }
    .main_contents .telephone .num {
      color: #e41d3a;
      font-size: 200%;
      line-height: 1.4;
      font-weight: bold;
      letter-spacing: 0.01em;
      display: block; }
      @media screen and (max-width: 768px) {
        .main_contents .telephone .num {
          font-size: 140%; } }
    .main_contents .telephone .time {
      font-size: 80%;
      text-align: center;
      display: block; }

.btnContact {
  width: 100%;
  margin: 0 auto 30px auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: -webkit- space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: -webkit- flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .btnContact {
      display: block;
      width: 80%; } }
  .btnContact .link {
    width: 630px !important;
    margin: 0 auto !important; }
    @media screen and (max-width: 768px) {
      .btnContact .link {
        margin-top: 15px;
        width: 100% !important; } }
    .btnContact .link a.btn_con {
      text-align: center;
      position: relative;
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 15px 0;
      color: #fff;
      font-size: 23px;
      font-weight: normal !important;
      text-decoration: none;
      background: #46c1be;
      border-radius: 60px;
      -webkit-border-radius: 60px; }
      @media screen and (max-width: 768px) {
        .btnContact .link a.btn_con {
          width: 100%;
          font-size: 17px !important;
          line-height: 1.3;
          padding: 15px 40px; } }
      .btnContact .link a.btn_con:before, .btnContact .link a.btn_con:after {
        content: "";
        position: absolute;
        top: 50%; }
      .btnContact .link a.btn_con:before {
        right: 15px;
        width: 40px;
        height: 40px;
        margin: -20px 0 0;
        background: #fff;
        border-radius: 60px;
        -webkit-border-radius: 60px; }
        @media screen and (max-width: 768px) {
          .btnContact .link a.btn_con:before {
            width: 36px;
            height: 36px;
            margin: -18px 0 0; } }
      .btnContact .link a.btn_con:after {
        right: 28px;
        width: 13px;
        height: 13px;
        margin: -10px 0 0;
        border-top: solid 5px #46c1be;
        border-right: solid 5px #46c1be;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
        @media screen and (max-width: 768px) {
          .btnContact .link a.btn_con:after {
            right: 27px;
            width: 12px;
            height: 12px;
            margin: -8px 0 0; } }

ul.officeOne {
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    ul.officeOne {
      width: 85%;
      margin: 10px auto 0; } }
  ul.officeOne li {
    width: 100%;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      ul.officeOne li {
        margin-bottom: 14px; } }
    ul.officeOne li a {
      color: #333 !important;
      display: block; }
      ul.officeOne li a:hover {
        opacity: 0.8;
        text-decoration: none; }
      ul.officeOne li a dl {
        margin-top: 5px; }
        ul.officeOne li a dl dt {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 5px; }
          @media screen and (max-width: 768px) {
            ul.officeOne li a dl dt {
              font-size: 16px;
              line-height: 1.3; } }
        ul.officeOne li a dl dd {
          font-size: 14px; }
          @media screen and (max-width: 768px) {
            ul.officeOne li a dl dd {
              font-size: 13px; } }
